Repository aiven/devportal, pull requests merged in 2021-12, with the labels that each got.

#388 Add warning and link to PgBouncer features page
  docs/products/postgresql/concepts/pg-connection-pooling.rst
Labels: postgresql

#371 Migrated Kafka parameter management and topic auto creation articles
  _toc.yml
  docs/products/kafka/howto/create-topics-automatically.rst
  docs/products/kafka/howto/set-kafka-parameters.rst
Labels: kafka

#391 Using Conduktor with Apache Kafka
  .github/styles/Vocab/Docs/accept.txt
  _toc.yml
  docs/products/kafka/howto/kafka-conduktor.rst
  images/products/kafka/conduktor-config.png
Labels: kafka

#368 Content for View and reset consumer group offset
  _toc.yml
  docs/products/kafka/howto/kafka-tools-config-file.rst
  docs/products/kafka/howto/viewing-resetting-offset.rst
Labels: kafka

#382 Add make commands to generate configuration docs
  Makefile
  _toc.yml
  docs/products/kafka/reference.rst
  docs/products/kafka/reference/advanced-params.rst
  includes/config-kafka.rst
  scripts/aiven/service_type_config.py
Labels: kafka

#413 Fixed CA cert in pgadmin
  docs/products/postgresql/howto/connect-pgadmin.rst
Labels: postgresql

#397 Migrate the article about public access in vpc
  _toc.yml
  docs/platform/howto/public-access-in-vpc.rst
Labels: help wanted

#423 Estimate maximum number of connections in Aiven for Redis
  _toc.yml
  docs/products/redis/get-started.rst
  docs/products/redis/howto/estimate-max-number-of-connections.rst
Labels: redis

#426 Added Kafka Connect JDBC Source SQL server
  _toc.yml
  docs/products/kafka/kafka-connect/howto/jdbc-source-connector-sql-server.rst
Labels: kafka
