Repository aiven/devportal, pull requests merged in 2022-06, with the labels that each got.

#931 How to enable Karapace for Kafka
  _toc.yml
  docs/products/kafka/howto/enable-karapace.rst
Labels: kafka

#944 Billing information
  _toc.yml
  docs/platform/concepts.rst
  docs/platform/concepts/list-billing.rst
  docs/platform/concepts/tax-information.rst
Labels: platform, migration-task

#945 Automatic generate advanced params files
  .github/workflows/advanced-params-cassandra.yaml
  .github/workflows/advanced-params-clickhouse.yaml
  .github/workflows/advanced-params-flink.yaml
  .github/workflows/advanced-params-grafana.yaml
  .github/workflows/advanced-params-influxdb.yaml
  .github/workflows/advanced-params-kafka-connect.yaml
  .github/workflows/advanced-params-kafka.yaml
  .github/workflows/advanced-params-kafka_mirrormaker.yaml
  .github/workflows/advanced-params-m3aggregator.yaml
  .github/workflows/advanced-params-m3db.yaml
  .github/workflows/advanced-params-mysql.yaml
  .github/workflows/advanced-params-opensearch.yaml
  .github/workflows/advanced-params-pg.yaml
  .github/workflows/advanced-params-redis.yaml
  .github/workflows/cloud-list.yaml
  Makefile
  scripts/aiven/clouds.py
  scripts/aiven/service_type_config.py
Labels: enhancement

#1028 9th Terraform Recipe - Kafka with MongoDB source connector
  _toc.yml
  docs/tools/terraform/reference/cookbook/kafka-mongodb-recipe.rst
Labels: terraform

#941 Kafka service with custom configurations
  _toc.yml
  docs/tools/terraform/howto/upgrade-provider-v1-v2.rst
  docs/tools/terraform/reference/cookbook/kafka-custom-conf-recipe.rst
Labels: kafka, terraform
