Repository aiven/devportal, pull requests merged in 2022-08, with the labels that each got.

#1193 MySQL: fix parameters
  docs/products/mysql/howto/connect-from-cli.rst
Labels: mysql

#1190 MySQL: disable foreign key checks
  _toc.yml
  docs/products/mysql/howto/disable-foreign-key-checks.rst
Labels: mysql

#1174 Migrated Apache Kafka Upgrades procedure
  _toc.yml
  docs/products/kafka/concepts/upgrade-procedure.rst
Labels: kafka

#1110 Added a new recipe for debezium source connector to Postgres
  _toc.yml
  docs/tools/terraform/reference/cookbook/kafka-debezium-postgres-source.rst
Labels: terraform

#1209 Fixing Terraform code formatting.
  docs/tools/terraform/reference/cookbook/kafka-debezium-postgres-source.rst
Labels: terraform

#1213 Add redis-cli article to list of howto connect articles on get started page
  docs/products/redis/get-started.rst
Labels: redis

#1199 Get started page for Cassandra
  _toc.yml
  docs/products/cassandra.rst
  docs/products/cassandra/get-started.rst
Labels: cassandra

#1197 MySQL: reclaim disk space
  _toc.yml
  docs/products/mysql/howto/prevent-disk-full.rst
  docs/products/mysql/howto/reclaim-disk-space.rst
Labels: mysql

#1228 Adding missing instructions. For issue-1227
  docs/products/kafka/kafka-connect/howto/gcs-sink.rst
Labels: kafka

#1036 Sphinx design
  conf.py
  docs/community.rst
  docs/integrations.rst
  docs/platform.rst
  docs/products/cassandra.rst
  docs/products/clickhouse.rst
  docs/products/flink.rst
  docs/products/grafana.rst
  docs/products/kafka.rst
  docs/products/kafka/concepts/log-compaction.rst
  docs/products/kafka/kafka-connect.rst
  docs/products/kafka/kafka-connect/concepts/list-of-connector-plugins.rst
  docs/products/kafka/kafka-mirrormaker.rst
  docs/products/m3db.rst
  docs/products/mysql.rst
  docs/products/opensearch.rst
  docs/products/postgresql.rst
  docs/products/postgresql/reference/list-of-extensions.rst
  docs/products/redis.rst
  docs/tools/cli/service.rst
  docs/tools/cli/service/flink.rst
  docs/tools/terraform.rst
  index.rst
  requirements.txt
Labels: website

#1150 Migrating the plan upgrade troubleshooting article
  _toc.yml
  docs/platform/concepts.rst
  docs/platform/howto/payment-issues-plan-upgrades.rst
Labels: Platform

#1146 Add change billing contact page
  _toc.yml
  docs/platform/howto/change-billing-contact.rst
  docs/platform/howto/manage-payment-card.rst
  images/platform/billing/billing_assign_card.png
  images/platform/billing/billing_payment_options.png
  images/platform/billing/billing_user_information.png
  images/platform/billing/technical-emails.png
Labels: Platform

#1259 Configure site to use docs.aiven.io as base URL
  conf.py
Labels: website

#1157 Added Cassandra source and sink connectors
  .github/vale/dicts/aiven.dic
  _toc.yml
  docs/products/kafka/kafka-connect/howto/cassandra-streamreactor-sink.rst
  docs/products/kafka/kafka-connect/howto/cassandra-streamreactor-source.rst
Labels: help wanted, kafka

#1262 Add a note regarding play connectivity.
  docs/products/clickhouse/howto/use-play.rst
Labels: clickhouse

#1279 Add "Connect with Python" page to Cassandra documentation
  _toc.yml
  code/products/cassandra/connect.py
  docs/products/cassandra/howto.rst
  docs/products/cassandra/howto/connect-python.rst
  docs/products/cassandra/howto/list-code-samples.rst
  docs/tools/cli/service.rst
Labels: enhancement, cassandra

#1222 Add "Connect with Go" page to Cassandra documentation
  _toc.yml
  code/products/cassandra/connect.go
  docs/products/cassandra/howto/connect-go.rst
Labels: enhancement, cassandra

#1284 Adding CLI reference to console docs.
  docs/platform/howto/create_authentication_token.rst
  docs/platform/howto/create_new_service.rst
  docs/platform/howto/create_new_service_user.rst
  docs/platform/howto/scale-services.rst
  docs/tools/cli/user/user-access-token.rst
Labels: avn cli, Maintanance
