Repository aiven/devportal, pull requests merged in 2022-01, with the labels that each got.

#434 migrate/redis: warning overcommit_memory
  .github/styles/Vocab/Docs/accept.txt
  _toc.yml
  docs/products/redis/howto/warning-overcommit_memory.rst
Labels: redis

#436 Redis: add generated config docs and clean up `Getting Started`
  _toc.yml
  docs/products/redis/get-started.rst
  docs/products/redis/reference.rst
  docs/products/redis/reference/advanced-params.rst
  includes/config-redis.rst
Labels: redis

#451 Fix ES to OS migration doc
  docs/products/opensearch/howto/migrating_elasticsearch_data_to_aiven.rst
Labels: opensearch

#453 fix/cli: missing links to the commands
  docs/tools/cli.rst
  docs/tools/cli/ticket.rst
Labels: avn cli

#402 Migrate topic log compaction
  _toc.yml
  docs/products/kafka/concepts/log-compaction.rst
  docs/products/kafka/concepts/partition-segments.rst
  docs/products/kafka/howto/configure-log-cleaner.rst
Labels: help wanted, kafka

#440 add/opensearch: generated config docs
  _toc.yml
  docs/products/opensearch/reference/advanced-params.rst
  includes/config-opensearch.rst
Labels: opensearch

#439 add/flink: generated config docs
  _toc.yml
  docs/products/flink/index.rst
  docs/products/flink/reference.rst
  docs/products/flink/reference/advanced-params.rst
  includes/config-flink.rst
Labels: flink

#441 add/grafana: generated config docs
  docs/products/grafana/reference.rst
  docs/products/grafana/reference/advanced-params.rst
  includes/config-grafana.rst
Labels: grafana

#442 add/m3db: generated config docs
  _toc.yml
  docs/products/m3db/index.rst
  docs/products/m3db/reference.rst
  docs/products/m3db/reference/advanced-params.rst
  includes/config-m3db.rst
Labels: m3db

#443 fix/redis and kafka: missing links for Reference
  docs/products/kafka/index.rst
  docs/products/kafka/reference/advanced-params.rst
  docs/products/mysql/reference/advanced-params.rst
  docs/products/redis/index.rst
  docs/products/redis/reference/advanced-params.rst
Labels: redis, kafka

#468 Added Debezium source connector
  _toc.yml
  docs/products/kafka/kafka-connect/howto/debezium-source-connector-pg.rst
Labels: kafka

#473 Added `dblink_fdw` doc
  _toc.yml
  docs/products/postgresql/howto/use-dblink-extension.rst
  docs/tools/cli/service.rst
Labels: kafka

#438 add/redis: enable lua scripts on redis
  docs/products/redis/concepts/lua-scripts-redis.rst
  docs/products/redis/get-started.rst
Labels: redis

#486 Updated Kafka Connect Debezium PG article
  docs/products/kafka/kafka-connect/howto/debezium-source-connector-pg.rst
Labels: kafka

#417 Migrating Kafka users and acl management
  _toc.yml
  docs/products/kafka/concepts/acl.rst
  docs/products/kafka/howto/manage-acls.rst
  docs/products/kafka/howto/monitor-logs-acl-failure.rst
Labels: kafka

#491 Migrated the Enable JIT in PG article
  _toc.yml
  docs/products/postgresql/howto/enable-jit.rst
Labels: postgresql

#478 Adding `mirrormaker2` home page and initial content
  _toc.yml
  docs/products/kafka/kafka-mirrormaker/concepts.rst
  docs/products/kafka/kafka-mirrormaker/concepts/replication-flow-topics-regex.rst
  docs/products/kafka/kafka-mirrormaker/getting-started.rst
  docs/products/kafka/kafka-mirrormaker/howto.rst
  docs/products/kafka/kafka-mirrormaker/howto/integrate-external-kafka-cluster.rst
  docs/products/kafka/kafka-mirrormaker/howto/setup-mirrormaker-monitoring.rst
  docs/products/kafka/kafka-mirrormaker/howto/setup-replication-flow.rst
  docs/products/kafka/kafka-mirrormaker/index.rst
  docs/products/kafka/kafka-mirrormaker/reference.rst
  docs/products/kafka/kafka-mirrormaker/reference/terminology.rst
  images/products/kafka/kafka-mirrormaker/external-kafka-integration.png
  images/products/kafka/kafka-mirrormaker/grafana-mirrormaker2-lag.png
Labels: help wanted, kafka

#502 Migrated `REINDEX` article
  _toc.yml
  docs/products/postgresql/howto/repair-pg-index.rst
Labels: postgresql

#505 Migrated remove topic prefix MM2
  _toc.yml
  docs/products/kafka/kafka-mirrormaker/howto/integrate-external-kafka-cluster.rst
  docs/products/kafka/kafka-mirrormaker/howto/remove-mirrormaker-prefix.rst
  docs/products/kafka/kafka-mirrormaker/howto/setup-mirrormaker-monitoring.rst
  docs/products/kafka/kafka-mirrormaker/howto/setup-replication-flow.rst
Labels: kafka

#429 add/redis: ssl connectivity
  .github/styles/Vocab/Docs/accept.txt
  _toc.yml
  docs/products/redis/get-started.rst
  docs/products/redis/howto/manage-ssl-connectivity.rst
Labels: redis
