Repository aiven/devportal, pull requests merged in 2022-02, with the labels that each got.

#517 Migrated Kafka Connect S3 sink connector by Aiven
  _toc.yml
  docs/products/kafka/kafka-connect/howto/s3-sink-connector-aiven.rst
  docs/products/kafka/kafka-connect/howto/s3-sink-prereq.rst
  docs/products/kafka/kafka-connect/reference.rst
  docs/products/kafka/kafka-connect/reference/s3-sink-additional-parameters.rst
Labels: kafka

#520 Kafka sample data
  _toc.yml
  docs/products/kafka/howto/fake-sample-data.rst
Labels: kafka

#527 add/MySQL: link from homepage to landing page
  index.rst
Labels: bug

#537 Fixing warnings and mermaid graphs
  docs/products/flink/howto/real-time-alerting-solution-cli.rst
  docs/products/flink/howto/real-time-alerting-solution.rst
Labels: flink

#535 add/opensearch: Manage OpenSearch log integration
  _toc.yml
  docs/products/opensearch/howto/opensearch-log-integration.rst
  docs/products/opensearch/index.rst
Labels: opensearch

#552 K8s operator tweaks
  docs/tools/kubernetes.rst
Labels: help wanted

#519 Reorganised Apache Kafka Howto section
  _toc.yml
  docs/products/kafka/howto/create-topics-automatically.rst
  docs/products/kafka/howto/kafka-conduktor.rst
  docs/products/kafka/howto/kafka-tools-config-file.rst
  docs/products/kafka/howto/keystore-truststore.rst
  docs/products/kafka/howto/list-admin.rst
  docs/products/kafka/howto/list-integration.rst
  docs/products/kafka/howto/list-security.rst
  docs/products/kafka/howto/list-tools.rst
  docs/products/kafka/howto/list-topic-schema.rst
  docs/products/kafka/howto/manage-acls.rst
Labels: kafka

#562 Migrating Kafka Connect s3 sink by Confluent
  _toc.yml
  docs/products/kafka/kafka-connect/howto/s3-sink-connector-aiven.rst
  docs/products/kafka/kafka-connect/howto/s3-sink-connector-confluent.rst
  docs/products/kafka/kafka-connect/reference/s3-sink-additional-parameters-confluent.rst
  docs/products/kafka/kafka-connect/reference/s3-sink-additional-parameters.rst
  docs/products/kafka/kafka-connect/reference/s3-sink-formats.rst
Labels: kafka

#551 Apache Flink tutorial as playbook
  _toc.yml
  code/products/flink/combined_job.md
  code/products/flink/filter_job_os.md
  code/products/flink/opensearch_out_table.md
  docs/products/flink/howto/real-time-alerting-solution-cli.rst
  docs/products/flink/howto/real-time-alerting-solution.rst
  docs/products/flink/howto/timestamps_opensearch.rst
Labels: flink

#583 Reorganised Kafka Connect HowTo
  _toc.yml
  docs/products/kafka/kafka-connect/howto/list-admin.rst
  docs/products/kafka/kafka-connect/howto/list-sink-connectors.rst
  docs/products/kafka/kafka-connect/howto/list-source-connectors.rst
Labels: kafka

#567 Migrated Kafka Connect Elasticsearch sink connector
  _toc.yml
  docs/products/kafka/kafka-connect/howto/debezium-source-connector-pg.rst
  docs/products/kafka/kafka-connect/howto/elasticsearch-sink.rst
  docs/products/kafka/kafka-connect/howto/list-sink-connectors.rst
  docs/products/kafka/kafka-connect/howto/opensearch-sink.rst
Labels: kafka

#595 Add descriptions and grouping to the postgresql extensions list
  .github/styles/Vocab/Docs/accept.txt
  docs/products/postgresql/reference/list-of-extensions.rst
Labels: postgresql

#586 OpenSearch: Get data mapping with Python
  docs/products/opensearch/howto/sample-dataset.rst
Labels: opensearch
