Repository aiven/devportal, pull requests merged in 2022-09, with the labels that each got.

#1215 Change Flink documentation links to target Flink 1.15
  docs/products/flink.rst
  docs/products/flink/concepts/checkpoints.rst
  docs/products/flink/concepts/event-processing-time.rst
  docs/products/flink/concepts/flink-for-analysts.rst
  docs/products/flink/concepts/flink-for-operators.rst
  docs/products/flink/concepts/kafka-connector-requirements.rst
  docs/products/flink/concepts/watermarks.rst
  docs/products/flink/concepts/windows.rst
  docs/products/flink/howto/connect-kafka.rst
  docs/products/flink/howto/connect-opensearch.rst
  docs/products/flink/howto/connect-pg.rst
Labels: flink

#1348 mysql:fix title
  docs/products/mysql/howto/do-check-service-migration.rst
Labels: mysql

#1353 Migration MySQL disk usage
  _toc.yml
  docs/products/mysql/howto/identify-disk-usage-issues.rst
Labels: mysql

#1208 Add "Connect with cqlsh" page to Cassandra documentation
  _toc.yml
  docs/products/cassandra/howto.rst
  docs/products/cassandra/howto/connect-cqlsh-cli.rst
Labels: enhancement, cassandra

#1366 Fixing kafka-go link within product docs.
  docs/products/kafka/howto/connect-with-go.rst
Labels: Maintanance

#1362 Migration article PG promote to master
  _toc.yml
  docs/tools/terraform/howto/promote-to-master-pg-rr.rst
Labels: migration-task

#1365 mysql: migrate slow queries
  _toc.yml
  docs/products/mysql/howto/enable-slow-queries.rst
Labels: mysql

#1383 Replace emoji for logos
  conf.py
  docs/community.rst
  images/social_media/icon-blog.svg
  images/social_media/icon-github.svg
  images/social_media/icon-twitter.svg
  images/social_media/icon-youtube.svg
Labels: enhancement

#1363 Update opensearch log integration
  docs/products/opensearch/howto/opensearch-log-integration.rst
Labels: opensearch

#1345 Migrate your MySQL data using ``mysqldump``
  _toc.yml
  docs/products/mysql/howto/migrate-database-mysqldump.rst
Labels: mysql

#1367 Migrated PG long-running queries article, updated content, and added to toc file
  _toc.yml
  docs/products/postgresql/howto/pg-long-running-queries.rst
  images/products/postgresql/pg-long-running-queries.png
Labels: postgresql

#1381 Added reference to PostgreSQL extension 'file_fdw' back as part of superuser-only extensions
  docs/products/postgresql/reference/list-of-extensions.rst
Labels: postgresql

#1310 Migration article VPC peering - General
  .github/vale/dicts/aiven.dic
  .github/vale/styles/Aiven/capitalization_headings.yml
  _toc.yml
  docs/platform/howto/manage-vpc-peering.rst
Labels: migration-task, SA

#1394 improve upgrade to OS with tf, add missing resource imports
  _redirects
  _toc.yml
  docs/products/opensearch/howto/upgrade-to-opensearch.rst
  docs/tools/terraform/howto/upgrade-to-opensearch.rst
Labels: opensearch, terraform

#1364 add docs for billing-groups in the CLI`
  _toc.yml
  docs/tools/cli/billing-group.rst
Labels: avn cli

#1408 VPC peering article on GCP
  _toc.yml
  docs/platform/howto/manage-vpc-peering.rst
  docs/platform/howto/vpc-peering-gcp.rst
Labels: migration-task

#1419 SAML with Auth0
  .github/vale/dicts/aiven.dic
  .github/vale/styles/Aiven/capitalization_headings.yml
  _toc.yml
  docs/platform/howto/saml/setup-saml-auth0.rst
Labels: migration-task

#1382 Help 146 memtier benchmark
  _toc.yml
  docs/products/redis/get-started.rst
  docs/products/redis/howto/benchmark-performance.rst
Labels: redis

#1421 migrate public service to VPC
  _toc.yml
  docs/platform/howto/migrate-services-cloud-region.rst
  docs/platform/howto/migrate-services-vpc.rst
Labels: migration-task
