Repository aiven/devportal, pull requests merged in 2022-07, with the labels that each got.

#961 Add AWS CloudWatch integration
  .github/vale/dicts/aiven.dic
  _toc.yml
  docs/integrations/cloudwatch/cloudwatch-logs-cli.rst
  docs/integrations/cloudwatch/cloudwatch-logs-console.rst
  docs/integrations/cloudwatch/cloudwatch-metrics.rst
  docs/integrations/cloudwatch/index.rst
  docs/integrations/cloudwatch/list-cloudwatch-logs.rst
  docs/integrations/index.rst
  images/integrations/cloudwatch-metrics-list.png
  images/integrations/cloudwatch-overview-integrations.png
  images/integrations/configure-cloudwatch-logs-endpoint.png
  images/integrations/configure-cloudwatch-metrics-endpoint.png
Labels: Integrations

#904 mysql: add php example
  _toc.yml
  code/products/mysql/connect.php
  docs/products/mysql/howto/connect-with-php.rst
Labels: mysql

#955 Moving rsyslog help article
  .github/vale/dicts/aiven.dic
  .github/vale/styles/Aiven/capitalization_headings.yml
  _toc.yml
  docs/integrations.rst
  docs/integrations/rsyslog.rst
  images/integrations/remote-syslog-endpoint.png
  images/integrations/remote-syslog-service-integrations.png
Labels: Integrations

#908 Migrated KSQL article
  .github/vale/styles/Aiven/capitalization_headings.yml
  _toc.yml
  docs/products/kafka/howto/ksql-docker.rst
Labels: help wanted

#1121 Migrate Kafka console tool examples
  .github/vale/dicts/aiven.dic
  _toc.yml
  docs/products/kafka/howto/connect-with-command-line.rst
  docs/products/kafka/howto/kafka-tools-config-file.rst
Labels: kafka

#1034 Manage Kafka Connect Logging levels
  _toc.yml
  docs/products/kafka/kafka-connect/howto/manage-logging-level.rst
Labels: kafka

#1120 MySQLx/Python: add sample code
  _toc.yml
  code/products/mysql/connect-using-mysqlx.py
  docs/products/mysql/howto/connect-using-mysqlx-with-python.rst
Labels: mysql

#1037 Update to newest version of Furo Theme (2022.06.21)
  _static/css/aiven.css
  _templates/feedback-form.html
  _templates/page.html
  conf.py
  requirements.txt
Labels: website

#1170 Update search indexing for new templates
  scripts/index_developer_portal_pages.py
Labels: website

#1175 Remove google analytics, it was superseded by snowplow
  _templates/base.html
Labels: website

#1142 cassandra: add help article on tombstones
  .gitignore
  _toc.yml
  conf.py
  docs/products/cassandra.rst
  docs/products/cassandra/concepts.rst
  docs/products/cassandra/concepts/tombstones.rst
Labels: help wanted, cassandra

#1143 initial import of GCP marketplace article with edits to update it to V2
  .github/vale/styles/Aiven/capitalization_headings.yml
  _toc.yml
  docs/platform/howto/billing-google-cloud-platform-marketplace-subscription.rst
  images/platform/howto/gcp-billing.png
Labels: help wanted

#1181 Calm down linkchecking
  .github/workflows/linkcheck-changed-files.yaml
  .github/workflows/linkcheck.yaml
  .github/workflows/sphinx.yaml
  Makefile
Labels: website

#1135 Aiven Operator for Kubernetes needs to add port 9443 on GKE VPC
  docs/tools/kubernetes.rst
Labels: help wanted

#1189 Link Aiven videos to the docs
  docs/products/kafka/howto/set-kafka-parameters.rst
  docs/products/opensearch/howto/opensearch-log-integration.rst
Labels: opensearch, kafka
