Repository aiven/devportal, pull requests merged in 2022-03, with the labels that each got.

#616 fix/kafka: sink connectors integrations
  docs/products/kafka/kafka-connect/concepts/list-of-connector-plugins.rst
Labels: kafka

#637 Switch to shorter title decoration
  conf.py
Labels: platform

#641 Migrating Kafka SSL renewal
  _toc.yml
  docs/products/kafka/howto/renew-ssl-certs.rst
  docs/tools/cli/service.rst
  docs/tools/cli/service/user.rst
  images/products/kafka/new-ssl-cert-download.png
  images/products/kafka/ssl-cert-renewal.png
Labels: kafka

#643 Migrated connector list not currently available
  _toc.yml
  docs/products/kafka/kafka-connect/concepts/connect-plugin-list-not-available.rst
Labels: kafka

#632 Manage Aiven for Apache Kafka with kafka cli
  _toc.yml
  docs/products/kafka/howto/configure-with-kafka-cli.rst
  docs/tools/cli/service/topic.rst
Labels: kafka

#634 Added Apache Kafka Connect gcs sink
  .github/styles/Aiven/capitalization_headings.yml
  .github/styles/Aiven/common_replacements.yml
  _toc.yml
  docs/products/kafka/kafka-connect/howto/gcs-sink-prereq.rst
  docs/products/kafka/kafka-connect/howto/gcs-sink.rst
  docs/products/kafka/kafka-connect/reference/gcs-sink-formats.rst
Labels: help wanted, kafka

#678 Fix Flink to Opensearch Hour Format
  docs/products/flink/howto/timestamps_opensearch.rst
Labels: flink
