Repository aiven/devportal, pull requests merged in 2022-12, with the labels that each got.

#1600 Add doc on searching and filtering services in Console
  _toc.yml
  docs/platform/howto/search-services.rst
Labels: Platform, pre-release

#1611 clickhouse: add information on service plans and pricing models
  _toc.yml
  docs/products/clickhouse/reference/plans-pricing.rst
Labels: clickhouse

#1601 postgresql: add subsection and note for recreation of replication slots
  docs/products/postgresql/concepts/upgrade-failover.rst
  docs/products/postgresql/howto/setup-logical-replication.rst
Labels: postgresql

#1576 clickhouse: how to connect to a service with golang
  _toc.yml
  docs/products/clickhouse/howto/connect-with-go.rst
Labels: clickhouse

#1586 clickhouse: add cookbook recipe on integrating kafka and clickhouse with terraform
  _toc.yml
  docs/products/clickhouse/howto/integrate-kafka-terraform.rst
  docs/tools/terraform/reference/cookbook.rst
  docs/tools/terraform/reference/cookbook/kafka-clickhouse-integration-recipe.rst
Labels: kafka, terraform, clickhouse

#1621 clickhouse: add service architecture description
  .github/vale/dicts/aiven.dic
  _toc.yml
  docs/products/clickhouse/concepts/service-architecture.rst
Labels: clickhouse

#1591 clickhouse: add cookbook recipe on how to integrate postgresql with terraform
  _toc.yml
  docs/products/clickhouse/howto/integrate-postgres-terraform.rst
  docs/tools/terraform/reference/cookbook.rst
  docs/tools/terraform/reference/cookbook/postgres-clickhouse-integration-recipe.rst
Labels: postgresql, terraform, clickhouse

#1543 clickhouse: add article on sharding
  .github/vale/dicts/aiven.dic
  _toc.yml
  docs/products/clickhouse/howto/manage-databases-tables.rst
  docs/products/clickhouse/howto/use-shards-with-distributed-table.rst
Labels: clickhouse

#1633 [ plz merge by 12 Dec COB] clickhouse: remove the beta label for clickhouse docs due to GA 13 Dec
  docs/products/clickhouse.rst
  docs/products/clickhouse/getting-started.rst
  docs/tools/terraform/reference/cookbook/kafka-clickhouse-integration-recipe.rst
  docs/tools/terraform/reference/cookbook/postgres-clickhouse-integration-recipe.rst
  index.rst
Labels: clickhouse

#1606 Updating provider and service versions.
  docs/tools/terraform/get-started.rst
  docs/tools/terraform/howto/config-postgresql-provider.rst
  docs/tools/terraform/howto/upgrade-provider-v2-v3.rst
  docs/tools/terraform/reference/cookbook/clickhouse-access-setup-recipe.rst
  docs/tools/terraform/reference/cookbook/grafana-m3db-postgresql-recipe.rst
  docs/tools/terraform/reference/cookbook/kafka-connect-terraform-recipe.rst
  docs/tools/terraform/reference/cookbook/kafka-custom-conf-recipe.rst
  docs/tools/terraform/reference/cookbook/kafka-debezium-postgres-source.rst
  docs/tools/terraform/reference/cookbook/kafka-flink-integration-recipe.rst
  docs/tools/terraform/reference/cookbook/kafka-karapace-recipe.rst
  docs/tools/terraform/reference/cookbook/kafka-mirrormaker-recipe.rst
  docs/tools/terraform/reference/cookbook/kafka-mongodb-recipe.rst
  docs/tools/terraform/reference/cookbook/m3db-m3agg-recipe.rst
  docs/tools/terraform/reference/cookbook/multicloud-postgresql-recipe.rst
  docs/tools/terraform/reference/cookbook/postgresql-custom-configs-recipe.rst
  docs/tools/terraform/reference/cookbook/postgresql-read-replica-recipe.rst
Labels: terraform, Maintenance

#1629 [plz review/merge asap] clickhouse: reorganize info arch for the clickhouse section
  _redirects
  _toc.yml
  docs/products/clickhouse.rst
  docs/products/clickhouse/concepts.rst
  docs/products/clickhouse/concepts/databases-and-tables.rst
  docs/products/clickhouse/getting-started.rst
  docs/products/clickhouse/howto/integrate-kafka-terraform.rst
  docs/products/clickhouse/howto/integrate-postgres-terraform.rst
  docs/products/clickhouse/howto/list-connect-to-service.rst
  docs/products/clickhouse/howto/list-get-started.rst
  docs/products/clickhouse/howto/list-integrations.rst
  docs/products/clickhouse/howto/list-manage-cluster.rst
  docs/products/clickhouse/howto/list-manage-service.rst
  docs/products/clickhouse/howto/manage-databases-tables.rst
  docs/products/clickhouse/list-overview.rst
  docs/products/clickhouse/sample-dataset.rst
Labels: clickhouse

#1639 clickhouse: update the clickhouse homepage to reflect the recent info architecture changes
  _toc.yml
  docs/products/clickhouse.rst
  docs/products/clickhouse/concepts.rst
  docs/products/clickhouse/howto.rst
  docs/products/clickhouse/howto/list-connect-to-service.rst
  docs/products/clickhouse/howto/list-integrations.rst
  docs/products/clickhouse/howto/list-manage-cluster.rst
  docs/products/clickhouse/howto/list-manage-service.rst
  docs/products/clickhouse/reference.rst
Labels: clickhouse

#1641 postgresql: add info on replication slots not being recreated after major upgrades
  docs/products/postgresql/concepts/upgrade-failover.rst
  docs/products/postgresql/howto/setup-logical-replication.rst
Labels: postgresql

#1644 Add missing button
  index.rst
Labels: influx

#1643 Improve wording input-output
  docs/products/opensearch/howto/import-opensearch-data-elasticsearch-dump-to-aiven.rst
Labels: opensearch

#1642 clickhouse: add link to the comparison of service plans
  docs/products/clickhouse/reference/plans-pricing.rst
Labels: clickhouse

#1646 clickhouse: add limitations and limits for a service
  _toc.yml
  docs/products/clickhouse/reference/limitations.rst
Labels: clickhouse

#1573 Help migration article for service integration
  _toc.yml
  docs/platform/concepts/service-integration.rst
  docs/platform/howto/create-service-integration.rst
Labels: migration-task

#1654 clickhouse: update feature overview article
  docs/products/clickhouse/concepts/features-overview.rst
Labels: clickhouse

#1369 A fix and more reliability for the vale tests
  .github/vale/tests/shelltest.test
Labels: website, linting
