Repository aiven/devportal, pull requests merged in 2022-05, with the labels that each got.

#757 Add some structure on MySQL code samples
  _toc.yml
  docs/products/mysql/howto/connect-from-cli.rst
  docs/products/mysql/howto/list-code-samples.rst
Labels: mysql

#768 How to enable Aiven password
  _toc.yml
  docs/platform/howto/enable-aiven-password.rst
  docs/tools/cli.rst
Labels: platform

#758 Prevent MySQL disk full
  docs/products/mysql/howto/prevent-disk-full.rst
Labels: mysql

#770 Migration MySQL backups
  .github/vale/dicts/aiven.dic
  docs/products/mysql/concepts/mysql-backups.rst
Labels: mysql

#838 Kafka connect Debezium-mongodb
  _toc.yml
  docs/products/kafka/kafka-connect/howto/debezium-source-connector-mongodb.rst
Labels: help wanted

#880 Migrate migrate to cloud/region article
  docs/platform/howto/migrate-services.rst
Labels: platform

#673 Add PostgreSQL migration from AWS RDS & Aurora and Google Cloud SQL
  .github/vale/styles/Aiven/capitalization_headings.yml
  _toc.yml
  docs/products/mysql/howto/connect-from-cli.rst
  docs/products/opensearch/howto/opensearch-alerting-api.rst
  docs/products/opensearch/howto/sample-dataset.rst
  docs/products/postgresql/concepts/dba-tasks-pg.rst
  docs/products/postgresql/howto/logical-replication-aws-aurora.rst
  docs/products/postgresql/howto/logical-replication-aws-rds.rst
  docs/products/postgresql/howto/logical-replication-gcp-cloudsql.rst
  docs/products/postgresql/howto/migrate-aiven-db-migrate.rst
  docs/products/postgresql/howto/run-aiven-db-migrate-python.rst
  images/products/postgresql/migrate-aurora-pg-parameter-group.png
  images/products/postgresql/migrate-aurora-pg-parameter-modify.png
  images/products/postgresql/migrate-aurora-pg-parameter-value.png
  images/products/postgresql/migrate-cloudsql-flags.png
  images/products/postgresql/migrate-cloudsql-network.png
  images/products/postgresql/migrate-rds-pg-parameter-group.png
  images/products/postgresql/migrate-rds-pg-parameter-modify.png
  images/products/postgresql/migrate-rds-pg-parameter-value.png
Labels: help wanted
