Repository aiven/devportal, pull requests merged in 2022-11, with the labels that each got.

#1494 Adding a Terraform getting started dropdown
  docs/tools/terraform/reference/cookbook/grafana-m3db-postgresql-recipe.rst
  docs/tools/terraform/reference/cookbook/kafka-connect-terraform-recipe.rst
  docs/tools/terraform/reference/cookbook/kafka-custom-conf-recipe.rst
  docs/tools/terraform/reference/cookbook/kafka-debezium-postgres-source.rst
  docs/tools/terraform/reference/cookbook/kafka-flink-integration-recipe.rst
  docs/tools/terraform/reference/cookbook/kafka-karapace-recipe.rst
  docs/tools/terraform/reference/cookbook/kafka-mirrormaker-recipe.rst
  docs/tools/terraform/reference/cookbook/kafka-mongodb-recipe.rst
  docs/tools/terraform/reference/cookbook/m3db-m3agg-recipe.rst
  docs/tools/terraform/reference/cookbook/multicloud-postgresql-recipe.rst
  docs/tools/terraform/reference/cookbook/postgresql-custom-configs-recipe.rst
  docs/tools/terraform/reference/cookbook/postgresql-read-replica-recipe.rst
Labels: terraform, Maintanance

#1527 ClickHouse doc MVP part 1/n - editorial and structural changes to selected how-tos
  _toc.yml
  docs/products/clickhouse/howto/add-service-users.rst
  docs/products/clickhouse/howto/connect-to-ch-service.rst
  docs/products/clickhouse/howto/connect-to-grafana.rst
  docs/products/clickhouse/howto/connect-with-jdbc.rst
  docs/products/clickhouse/howto/integrate-kafka.rst
  docs/products/clickhouse/howto/integrate-pg.rst
  docs/products/clickhouse/howto/load-dataset.rst
  docs/products/clickhouse/howto/manage-dbs-tables.rst
  docs/products/clickhouse/howto/manage-users-roles.rst
  docs/products/clickhouse/howto/query-ch-dbs.rst
  docs/products/clickhouse/howto/use-play.rst
  docs/products/clickhouse/howto/use-query-editor.rst
Labels: clickhouse

#1529 Updating connector config operator to be consistent.
  docs/tools/terraform/reference/cookbook/grafana-m3db-postgresql-recipe.rst
  docs/tools/terraform/reference/cookbook/kafka-connect-terraform-recipe.rst
  docs/tools/terraform/reference/cookbook/kafka-custom-conf-recipe.rst
  docs/tools/terraform/reference/cookbook/kafka-debezium-postgres-source.rst
  docs/tools/terraform/reference/cookbook/kafka-flink-integration-recipe.rst
  docs/tools/terraform/reference/cookbook/kafka-karapace-recipe.rst
  docs/tools/terraform/reference/cookbook/kafka-mirrormaker-recipe.rst
  docs/tools/terraform/reference/cookbook/kafka-mongodb-recipe.rst
  docs/tools/terraform/reference/cookbook/m3db-m3agg-recipe.rst
  docs/tools/terraform/reference/cookbook/multicloud-postgresql-recipe.rst
  docs/tools/terraform/reference/cookbook/postgresql-custom-configs-recipe.rst
  docs/tools/terraform/reference/cookbook/postgresql-read-replica-recipe.rst
Labels: terraform, Maintanance

#1536 ClickHouse MVP part 2/n: add article Secure a managed ClickHouse service [DOC-37]
  _toc.yml
  docs/products/clickhouse/howto/secure-ch-service.rst
  images/products/clickhouse/termination-prevention.png
Labels: clickhouse

#1539 ClickHouse MVP part3/n: add article Create materialized views for ClickHouse [DOC-41]
  _toc.yml
  docs/products/clickhouse/howto/integrate-kafka.rst
  docs/products/clickhouse/howto/materialized-views.rst
Labels: clickhouse

#1560 clickhouse: fix SEO, includes, file names, diataxis framework consistency, toc headings
  _redirects
  _toc.yml
  docs/platform/concepts/cloud-security.rst
  docs/products/clickhouse.rst
  docs/products/clickhouse/concepts/databases-and-tables.rst
  docs/products/clickhouse/getting-started.rst
  docs/products/clickhouse/howto/connect-with-clickhouse-cli.rst
  docs/products/clickhouse/howto/connect-with-jdbc.rst
  docs/products/clickhouse/howto/integrate-postgresql.rst
  docs/products/clickhouse/howto/load-dataset.rst
  docs/products/clickhouse/howto/manage-databases-tables.rst
  docs/products/clickhouse/howto/manage-users-roles.rst
  docs/products/clickhouse/howto/materialized-views.rst
  docs/products/clickhouse/howto/query-databases.rst
  docs/products/clickhouse/howto/secure-service.rst
  docs/products/clickhouse/sample-dataset.rst
Labels: clickhouse

#1572 clickhouse: add article how to connect to clickhouse with python
  _toc.yml
  docs/products/clickhouse/howto/connect-with-python.rst
Labels: clickhouse

#1553 Adding a common troubleshooting instruction.
  README.rst
Labels: Maintenance

#1598 Add Influxdb Advanced parameters
  Makefile
  _toc.yml
  docs/products/influxdb.rst
  docs/products/influxdb/concepts.rst
  docs/products/influxdb/reference.rst
  docs/products/influxdb/reference/advanced-params.rst
  includes/config-influxdb.rst
Labels: influx

#1599 InfluxDB: Add Advanced Parameters workflow
  .github/workflows/advanced-params-influxdb.yaml
Labels: influx

#1579 clickhouse: how to connect with a clickhouse service using php
  _toc.yml
  docs/products/clickhouse/howto/connect-with-php.rst
Labels: clickhouse

#1593 Add explicit beta tags for Flink and ClickHouse
  docs/products/clickhouse.rst
  docs/products/clickhouse/getting-started.rst
  docs/products/flink/getting-started.rst
Labels: flink, clickhouse

#1557 Console nav updates
  docs/platform/howto/change-your-email-address.rst
  docs/platform/howto/saml/saml-authentication.rst
  docs/platform/howto/tag-resources.rst
  docs/platform/howto/technical-emails.rst
  images/platform/howto/technical-emails.png
  images/platform/invite-member.png
  images/platform/remove-user.png
Labels: Platform

#1558 Console overview docs updates
  _toc.yml
  docs/platform/howto/list-account.rst
  docs/tools/aiven-console.rst
  docs/tools/aiven-console/howto.rst
Labels: Platform

#1596 Connect Aiven for Apache Kafka with Klaw connection documentation
  .github/vale/dicts/aiven.dic
  .github/vale/styles/Aiven/capitalization_headings.yml
  _toc.yml
  docs/products/kafka/howto/kafka-klaw.rst
Labels: kafka

#1574 Help article issue821 - disable platform auth
  _toc.yml
  docs/platform/howto/disable-platform-authentication.rst
Labels: migration-task

#1605 Remove requirement for psycopg2-binary
  README.rst
  requirements.txt
  scripts/create_feedback_table.py
Labels: website

#1575 clickhouse: how to connect to a service with node.js
  _toc.yml
  docs/products/clickhouse/howto/connect-with-nodejs.rst
Labels: clickhouse

#1587 Changed reference to docker image
  docs/products/clickhouse/howto/connect-with-clickhouse-cli.rst
  docs/products/clickhouse/howto/load-dataset.rst
  docs/products/clickhouse/sample-dataset.rst
Labels: clickhouse

#1580 clickhouse: how to connect to a sevice with java
  _toc.yml
  docs/products/clickhouse/howto/connect-with-java.rst
Labels: clickhouse
