Repository aiven/devportal, pull requests merged in 2023-08, with the labels that each got.

#2023 adding reference to config backup for kafka in the main backup page
  docs/platform/concepts/service_backups.rst
Labels: Kafka

#2043 Update beta services article for new lifecycle
  docs/platform/concepts/beta_services.rst
  docs/platform/howto/use-azure-privatelink.rst
  docs/platform/howto/use-google-private-service-connect.rst
Labels: Platform, services

#2058 platform: temporary add beta as a counterpart to limited availability
  docs/platform/concepts/beta_services.rst
Labels: Platform, services

#2061 cassandra: add the link to the "feature and service releases" doc
  docs/products/cassandra/concepts/cross-cluster-replication.rst
  docs/products/cassandra/howto/disable-cross-cluster-replication.rst
  docs/products/cassandra/howto/enable-cross-cluster-replication.rst
  docs/products/cassandra/howto/list-cross-cluster-replication.rst
  docs/products/cassandra/howto/manage-cross-cluster-replication.rst
Labels: Cassandra

#2021 Add user groups section and docs
  _toc.yml
  docs/platform/howto/add-groups-projects.rst
  docs/platform/howto/list-account.rst
  docs/platform/howto/list-authentication.rst
  docs/platform/howto/list-groups.rst
  docs/platform/howto/list-user-profile.rst
  docs/platform/howto/manage-groups.rst
  docs/platform/reference/project-member-privileges.rst
  docs/tools/aiven-console/howto/create-manage-teams.rst
Labels: Platform, pre-release

#2045 platform: updates to prometheus docs
  docs/integrations/prometheus-system-metrics.rst
  docs/platform/howto/integrations/prometheus-metrics.rst
Labels: integrations

#2022 Changed Rolling challenge result text
  docs/community/challenge/the-rolling-challenge.rst
Labels: community

#2069 Kafka: Avoid High Resource Usage on Kafka Startup-2 Plan
  _toc.yml
  docs/products/kafka/howto/optimizing-resource-usage-for-kafka-startup-plan.rst
Labels: Kafka

#2082 Opensearch shards too large
  .github/vale/dicts/aiven.dic
  _toc.yml
  docs/products/opensearch/howto/resolve-shards-too-large.rst
Labels: OpenSearch

#2085 Added instructions for BigQuery integration to Flink via Aiven Console
  docs/products/flink/howto/connect-bigquery.rst
  docs/products/flink/howto/ext-kafka-flink-integration.rst
Labels: Flink

#2096 Updated startup-2 plan reference in the article
  _toc.yml
  docs/products/kafka/howto/optimizing-resource-usage.rst
Labels: Kafka

#2098 postgresql: update the info on jit default enablement depending on PG verions
  docs/products/postgresql/howto/enable-jit.rst
Labels: PostgreSQL

#2068 Restructure docs in platform category
  _toc.yml
  docs/platform.rst
  docs/platform/concepts.rst
  docs/platform/concepts/aiven-node-firewall-configuration.rst
  docs/platform/concepts/billing-groups.rst
  docs/platform/concepts/disaster-recovery-test-scenarios.rst
  docs/platform/concepts/projects_accounts_access.rst
  docs/platform/concepts/service-integration.rst
  docs/platform/concepts/service-level-agreement.rst
  docs/platform/concepts/tax-information.rst
  docs/platform/howto.rst
  docs/platform/howto/attach-vpc-aws-tgw.rst
  docs/platform/howto/create-service-integration.rst
  docs/platform/howto/create_authentication_token.rst
  docs/platform/howto/create_new_service_user.rst
  docs/platform/howto/download-ca-cert.rst
  docs/platform/howto/list-account.rst
  docs/platform/howto/list-billing-groups.rst
  docs/platform/howto/list-billing.rst
  docs/platform/howto/list-marketplace-payments.rst
  docs/platform/howto/list-monitoring.rst
  docs/platform/howto/list-user-profile.rst
  docs/platform/howto/list-user.rst
  docs/platform/howto/public-access-in-vpc.rst
  docs/platform/howto/restrict-access.rst
  docs/platform/howto/saml/saml-authentication.rst
  docs/platform/howto/saml/setup-saml-fusionauth.rst
  docs/platform/howto/saml/setup-saml-okta.rst
  docs/platform/howto/use-billing-groups.rst
  docs/platform/reference.rst
Labels: enhancement, website

#2093 pg_enable_cron
  .github/vale/dicts/aiven.dic
  _toc.yml
  docs/products/postgresql/howto/use-pg-cron-extension.rst
Labels: PG

#2086 Issue 2083 pg get db, table, index size
  _toc.yml
  docs/products/postgresql/howto.rst
  docs/products/postgresql/howto/list-dba-tasks.rst
  docs/products/postgresql/howto/pg-object-size.rst
Labels: PostgreSQL

#2103 Move documentation info to contributing file
  CONTRIBUTING.rst
  _toc.yml
  docs/community/documentation.rst
  docs/community/documentation/tips-tricks/anonymous-links.rst
  docs/community/documentation/tips-tricks/orphan-pages.rst
  docs/community/documentation/tips-tricks/renaming-files.rst
Labels: website

#2102 Remove unused pages from TOC
  _toc.yml
  docs/platform.rst
  docs/platform/concepts.rst
  docs/platform/howto.rst
  docs/platform/reference.rst
Labels: website

#2089 adding DR based read-replica details
  docs/products/postgresql/howto/create-read-replica.rst
Labels: PostgreSQL

#2104 postgresql: fix reference data for PG
  docs/products/postgresql/reference/idle-connections.rst
  docs/products/postgresql/reference/list-of-advanced-params.rst
Labels: PostgreSQL

#1955 platform: add instructions for BYOC /limited availability/
  _toc.yml
  docs/platform/concepts/byoc.rst
  docs/platform/howto/byoc/add-customer-info-custom-cloud.rst
  docs/platform/howto/byoc/assign-project-custom-cloud.rst
  docs/platform/howto/byoc/create-custom-cloud.rst
  docs/platform/howto/byoc/rename-custom-cloud.rst
  docs/platform/howto/list-byoc.rst
Labels: Platform, pre-release

#2108 platform: fix step number in the byoc doc
  docs/platform/howto/byoc/create-custom-cloud.rst
Labels: Platform - Networking

#2107 Restructure Terraform section
  .github/vale/styles/Aiven/capitalization_headings.yml
  _toc.yml
  docs/tools/terraform.rst
  docs/tools/terraform/concepts.rst
  docs/tools/terraform/concepts/data-sources.rst
  docs/tools/terraform/howto.rst
  docs/tools/terraform/howto/upgrade-provider-v1-v2.rst
  docs/tools/terraform/howto/upgrade-provider-v2-v3.rst
  docs/tools/terraform/howto/upgrade-provider-v3-v4.rst
  docs/tools/terraform/howto/vnet-peering-azure.rst
  docs/tools/terraform/howto/vpc-peering-aws.rst
  docs/tools/terraform/howto/vpc-peering-gcp.rst
  docs/tools/terraform/list-upgrade-terraform.rst
  docs/tools/terraform/list-vpc-terraform.rst
  docs/tools/terraform/reference.rst
  docs/tools/terraform/reference/cookbook.rst
Labels: website, Terraform

#2084 redis: how to troubleshoot connection issues
  .github/vale/dicts/aiven.dic
  _toc.yml
  docs/products/redis/troubleshooting.rst
  docs/products/redis/troubleshooting/troubleshoot-redis-connection-issues.rst
Labels: Redis

#1774 postgresql: how to migrate pg database using the console
  _toc.yml
  docs/products/postgresql/howto.rst
  docs/products/postgresql/howto/list-replication-migration.rst
  docs/products/postgresql/howto/migrate-aiven-db-migrate.rst
  docs/products/postgresql/howto/migrate-db-to-aiven-via-console.rst
Labels: PostgreSQL, stalled

#2119 platform: add note on LA and pricing for private link docs
  docs/platform/howto/use-aws-privatelinks.rst
  docs/platform/howto/use-azure-privatelink.rst
  docs/platform/howto/use-google-private-service-connect.rst
Labels: Platform - Networking

#2120 Content and steps for OpenID Connect
  _toc.yml
  docs/products/opensearch/howto/oidc-authentication.rst
Labels: OpenSearch

#2123 Removed limited availability note for OSS
  docs/products/opensearch/concepts/os-security.rst
  docs/products/opensearch/howto/audit-logs.rst
  docs/products/opensearch/howto/enable-opensearch-security.rst
  docs/products/opensearch/howto/list-opensearch-security.rst
  docs/products/opensearch/howto/opensearch-dashboard-multi_tenancy.rst
  docs/products/opensearch/howto/saml-sso-authentication.rst
Labels: OpenSearch

#2110 clickhouse: add docs on the federated queries feature
  .github/vale/dicts/aiven.dic
  _toc.yml
  docs/products/clickhouse/concepts.rst
  docs/products/clickhouse/concepts/federated-queries.rst
  docs/products/clickhouse/howto.rst
  docs/products/clickhouse/howto/list-manage-service.rst
  docs/products/clickhouse/howto/run-federated-queries.rst
Labels: ClickHouse
