Repository aiven/devportal, pull requests merged in 2023-02, with the labels that each got.

#1677 Add instructions on moving projects
  docs/platform/howto/manage-project.rst
Labels: Platform, pre-release

#1680 SUP-416: Postgresql log formats
  _toc.yml
  docs/products/postgresql/reference/log-formats-supported.rst
Labels: postgresql, Platform, PG

#1649 add clarification on configuring postgres datadog database monitoring
  docs/products/postgresql/howto/monitor-database-with-datadog.rst
Labels: postgresql

#1719 SUP-431: Updated notes section regarding recreation of replication slots
  docs/products/postgresql/concepts/upgrade-failover.rst
  docs/products/postgresql/howto/setup-logical-replication.rst
Labels: postgresql, website, PG

#1763 Removed beta tags and warning messages
  docs/products/flink.rst
  docs/products/flink/getting-started.rst
  docs/products/flink/howto/connect-kafka.rst
  docs/products/flink/howto/connect-opensearch.rst
  docs/products/flink/howto/connect-pg.rst
  docs/products/flink/howto/create-flink-applications.rst
  docs/products/flink/howto/create-integration.rst
  docs/products/flink/howto/list-get-started.rst
  docs/products/flink/howto/manage-flink-applications.rst
  docs/products/flink/howto/manage-flink-tables.rst
  docs/products/flink/howto/real-time-alerting-solution.rst
  docs/products/flink/howto/slack-connector.rst
  docs/products/flink/howto/timestamps_opensearch.rst
  docs/tools/cli/service/flink.rst
  index.rst
Labels: flink

#1766 Replace AWS with Aiven reference.
  docs/tools/terraform.rst
  docs/tools/terraform/get-started.rst
Labels: terraform

#1765 Add details to corporate billing article
  docs/platform/concepts/corporate-billing.rst
  images/platform/aiven-billing-information.png
Labels: Platform

#1772 clickhouse: add limitation for data load from S3
  docs/products/clickhouse/reference/limitations.rst
Labels: clickhouse

#1768 Kafka cluster configuration backup
  _toc.yml
  docs/products/kafka/concepts/configuration-backup.rst
Labels: kafka

#1737 Fixing invalid boolean value based on testing.
  docs/products/kafka/karapace/howto/enable-kafka-rest-proxy-authorization.rst
Labels: bug, kafka

#1769 initial commit for custom AES serde example
  .github/vale/dicts/aiven.dic
  _toc.yml
  docs/products/kafka/howto/kafka-custom-serde-encrypt.rst
Labels: kafka, security

#1771 Add instructions for getting tech notifications in Slack
  .github/vale/dicts/aiven.dic
  .github/vale/styles/Aiven/capitalization_headings.yml
  docs/platform/howto/technical-emails.rst
Labels: Platform

#1627 MirrorMaker2 knowledgebase updates
  _toc.yml
  docs/products/kafka/kafka-mirrormaker/concepts/disaster-recovery-migration.rst
  docs/products/kafka/kafka-mirrormaker/concepts/disaster-recovery/active-active-setup.rst
  docs/products/kafka/kafka-mirrormaker/concepts/disaster-recovery/active-passive-setup.rst
  docs/products/kafka/kafka-mirrormaker/concepts/mirrormaker2-tuning.rst
  docs/products/kafka/kafka-mirrormaker/howto/setup-mirrormaker-monitoring.rst
  docs/products/kafka/kafka-mirrormaker/reference/known-issues.rst
  images/products/kafka/kafka-mirrormaker/Mirrormaker-Active-Active.png
  images/products/kafka/kafka-mirrormaker/Mirrormaker-Active-Passive.png
Labels: kafka

#1747 Added a blurb about max users for servics. (SUP-436)
  docs/platform/howto/create_new_service_user.rst
Labels: Platform

#1773 platform: update the DDS article with the new five-times base storage maximum capacity
  docs/platform/concepts/dynamic-disk-sizing.rst
  docs/platform/howto/add-storage-space.rst
Labels: Platform

#1505 Added mqtt sink connector example
  _toc.yml
  docs/products/kafka/kafka-connect.rst
  docs/products/kafka/kafka-connect/howto/mqtt-sink-connector.rst
  docs/products/kafka/kafka-connect/howto/mqtt-source-connector.rst
Labels: stalled

#1779 Bump pygments version to reflect heredoc fix.
  requirements.txt
Labels: Maintanance

#1775 Release: Organizations and units in Aiven
  .github/vale/dicts/aiven.dic
  _toc.yml
  docs/platform/concepts.rst
  docs/platform/concepts/cloud-security.rst
  docs/platform/concepts/enhanced-compliance-env.rst
  docs/platform/concepts/projects_accounts_access.rst
  docs/platform/howto/list-account.rst
  docs/platform/howto/manage-project.rst
  docs/platform/howto/manage-vpc-peering.rst
  docs/platform/howto/saml/saml-authentication.rst
  docs/platform/howto/saml/setup-saml-auth0.rst
  docs/platform/howto/saml/setup-saml-azure.rst
  docs/platform/howto/saml/setup-saml-okta.rst
  docs/platform/howto/saml/setup-saml-onelogin.rst
  docs/platform/howto/tag-resources.rst
  docs/tools/aiven-console.rst
  docs/tools/aiven-console/howto/create-accounts.rst
  docs/tools/aiven-console/howto/create-manage-teams.rst
  docs/tools/cli/account.rst
  docs/tools/cli/billing-group.rst
  docs/tools/cli/card.rst
  docs/tools/cli/project.rst
  images/platform/howto/saml/okta/okta-saml-configuration-urls.png
  images/platform/howto/saml/okta/okta-view-saml-instructions.png
Labels: Platform, pre-release

#1783 Update corporate billing article
  docs/platform/concepts/corporate-billing.rst
Labels: Platform

#1541 Adding documentation about SBOM report and how to get access to it
  .github/vale/dicts/aiven.dic
  docs/platform/concepts/cloud-security.rst
  docs/tools/cli/project.rst
Labels: Platform

#1787 Orgs diagram
  docs/platform/concepts/projects_accounts_access.rst
  images/platform/concepts/organizations_hierarchy.png
Labels: Platform

#1760 Updated details on maintenance updates schedule
  docs/platform/concepts/maintenance-window.rst
Labels: Platform

#1782 Add GCP cloud logging integration article
  .github/vale/styles/Aiven/capitalization_headings.yml
  _toc.yml
  docs/integrations/cloudlogging.rst
Labels: Integrations, Platform

#1786 clickouse: how to manage data service integrations and integration databases
  _toc.yml
  docs/products/clickhouse/howto/data-service-integration.rst
  docs/products/clickhouse/howto/integration-databases.rst
  images/products/clickhouse/data-integration/create-integration-db.png
  images/products/clickhouse/data-integration/db-for-existing-integration.png
  images/products/clickhouse/data-integration/delete-integration-database.png
  images/products/clickhouse/data-integration/disconnect-integration.png
  images/products/clickhouse/data-integration/enable-data-integration.png
  images/products/clickhouse/data-integration/enable-with-database.png
  images/products/clickhouse/data-integration/enabled-no-database.png
  images/products/clickhouse/data-integration/integrate-and-create.png
  images/products/clickhouse/data-integration/integrate-db-new-service.png
  images/products/clickhouse/data-integration/integration-db-details.png
  images/products/clickhouse/data-integration/integration-db-edit.png
  images/products/clickhouse/data-integration/integration-db-save.png
  images/products/clickhouse/data-integration/new-data-integration-service.png
  images/products/clickhouse/data-integration/new-db-existing-integration.png
  images/products/clickhouse/data-integration/preview-data-integration.png
  images/products/clickhouse/data-integration/preview-integration-database.png
  images/products/clickhouse/data-integration/select-data-service.png
  images/products/clickhouse/data-integration/select-for-disconnect.png
  images/products/clickhouse/data-integration/start-data-integration.png
Labels: clickhouse, pre-release

#1792 clickhouse: how to copy data across ClickHouse instances
  _toc.yml
  docs/products/clickhouse/howto/copy-data-across-instances.rst
Labels: clickhouse

#1795 Update create service article for new flow
  docs/platform/howto/create_new_service.rst
Labels: Platform

#1741 cassandra: how to manage cross-cluster replication
  _toc.yml
  docs/products/cassandra/howto/manage-cross-cluster-replication.rst
Labels: cassandra, pre-release

#1734 cassandra: how to disable cross-cluster replication
  _toc.yml
  docs/products/cassandra/howto/disable-cross-cluster-replication.rst
  docs/tools/cli/service.rst
Labels: cassandra, pre-release
