Repository aiven/devportal, pull requests merged in 2023-01, with the labels that each got.

#1662 clickhouse: update backup retention info for premium plan and editorial changes
  docs/platform/concepts/service_backups.rst
Labels: Platform, clickhouse

#1660 clickhouse: add a concept on working with string data type
  _toc.yml
  docs/products/clickhouse/concepts/strings.rst
Labels: clickhouse

#1608 Add instructions on assigning projects to billing groups
  _toc.yml
  docs/platform/howto/billing-assign-projects.rst
Labels: Platform

#1556 Update and add billing articles to reflect changes in console
  _toc.yml
  docs/platform/concepts/tax-information.rst
  docs/platform/howto/create-billing-groups.rst
  docs/platform/howto/update-tax-status.rst
  docs/platform/howto/use-billing-groups.rst
Labels: Platform

#1672 clickhouse: add article describing disaster recovery capabilities in aiven for clickhouse
  _toc.yml
  docs/platform/concepts/availability-zones.rst
  docs/products/clickhouse/concepts/disaster-recovery.rst
Labels: clickhouse

#1700 Fix various `make spell` issues, and make the dictionary a little cleverer
  .github/vale/dicts/aiven.aff
  .github/vale/dicts/aiven.dic
  docs/community/documentation/tips-tricks/renaming-files.rst
  docs/integrations/datadog/datadog-logs.rst
  docs/platform/howto/public-access-in-vpc.rst
  docs/products/grafana/reference/plugins.rst
  docs/products/kafka/kafka-connect/concepts/list-of-connector-plugins.rst
  docs/products/kafka/kafka-connect/howto/s3-iam-assume-role.rst
  docs/products/opensearch/howto/opensearch-aggregations-and-nodejs.rst
  docs/products/opensearch/howto/sample-dataset.rst
  docs/products/postgresql/howto/logical-replication-gcp-cloudsql.rst
  docs/products/postgresql/howto/use-pg-repack-extension.rst
  docs/products/postgresql/reference/terminology.rst
  docs/products/redis/howto/connect-redis-cli.rst
  docs/tools/cli/service/flink.rst
Labels: Maintenance, linting

#1693 clickhouse: add a backup section for clickhouse in platform-level backup article
  docs/platform/concepts/service_backups.rst
  docs/products/clickhouse/concepts/disaster-recovery.rst
Labels: Platform, clickhouse

#1701 Remove Flink TF recipe due to Flink API changes.
  _toc.yml
  docs/tools/terraform/reference/cookbook.rst
  docs/tools/terraform/reference/cookbook/kafka-flink-integration-recipe.rst
Labels: terraform

#1711 Edited content for PostgreSQL®-based Apache Flink® table
  docs/products/flink/howto/connect-pg.rst
Labels: flink

#1705 Adding content for Flink table and how to manage tables in applications
  _toc.yml
  docs/products/flink/concepts/tables.rst
  docs/products/flink/howto/manage-flink-tables.rst
Labels: flink

#1709 Added manage applications howto
  .github/vale/dicts/aiven.dic
  _toc.yml
  docs/products/flink/howto/manage-flink-applications.rst
Labels: flink

#1710 Flink create kafka based flink table
  docs/products/flink/howto/connect-kafka.rst
Labels: flink

#1712 Edit content in OpenSearch®-based Apache Flink® table topic
  docs/products/flink/howto/connect-opensearch.rst
Labels: flink

#1706 Added concept and howto for Flink application
  _toc.yml
  docs/products/flink/concepts/flink-applications.rst
  docs/products/flink/howto/create-flink-applications.rst
  images/products/flink/application_landingpage_view.png
Labels: flink
