Repository aiven/devportal, pull requests merged in 2023-06, with the labels that each got.

#1928 Add general overview for billing
  _toc.yml
  docs/platform/concepts/hourly-billing-model.rst
Labels: Platform

#1918 Remove instructions for invoices
  docs/platform/howto/use-billing-groups.rst
Labels: Platform, pre-release

#1924 Update project-level billing info
  docs/platform/concepts/corporate-billing.rst
  docs/platform/howto/update-tax-status.rst
Labels: Platform - Billing

#1932 Create deprecated resources guide
  _toc.yml
  docs/tools/terraform/howto/update-deprecated-resources.rst
Labels: Terraform

#1933 Adding doc for AWS VPC peering with Terraform
  _toc.yml
  docs/tools/terraform/howto/vpc-peering-aws.rst
Labels: Terraform, Networking

#1935 Added information about service metrics
  .github/vale/dicts/aiven.dic
  _toc.yml
  docs/platform/howto/service-metrics.rst
Labels: Platform

#1937 postgresql: pgvector docs
  .github/vale/dicts/aiven.dic
  .github/vale/styles/Aiven/capitalization_headings.yml
  _toc.yml
  docs/products/postgresql/concepts/pgvector.rst
  docs/products/postgresql/howto.rst
  docs/products/postgresql/howto/list-dba-tasks.rst
  docs/products/postgresql/howto/use-pgvector.rst
Labels: PostgreSQL, pre-release

#1948 Add article on feature previews
  _toc.yml
  docs/platform/howto/feature-preview.rst
Labels: Platform

#1878 Update hobbyist plan limitation to cloud providers.
  docs/products/postgresql/reference/pg-connection-limits.rst
Labels: PostgreSQL, maintenance

#1953 postgresql: add pgvector to the list of extension
  docs/products/postgresql/reference/list-of-extensions.rst
Labels: PostgreSQL

#1958 kafka-connect: Prevent bad config of Pg publication as of Debezium 1.9.7
  docs/products/kafka/kafka-connect/howto/debezium-source-connector-pg.rst
Labels: Kafka

#1939 SUP-639: Briefly describe Refresh VPC connections function
  docs/platform/howto/manage-vpc-peering.rst
Labels: Networking

#1962 Addressed feedback for Quotas topic
  docs/products/kafka/concepts/kafka-quotas.rst
  docs/products/kafka/howto/manage-quotas.rst
Labels: Kafka

#1967 Sup 670 kb add where are my backups stored help article
  docs/platform/concepts/service_backups.rst
  docs/products/opensearch/concepts/backups.rst
  images/platform/concepts/backup_location_preview.png
Labels: Platform

#1941 Planned for end of June - Add instructions for managing org users
  _toc.yml
  docs/platform/howto/manage-org-users.rst
Labels: pre-release, Platform - Access management
