Repository aiven/devportal, pull requests merged in 2023-12, with the labels that each got.

#2336 platform: update the default service host
  docs/platform/reference/service-ip-address.rst
Labels: Platform - Networking

#2164 Add instructions for setting authentication policies
  _toc.yml
  docs/platform/howto/saml/saml-authentication.rst
  docs/platform/howto/saml/setup-saml-auth0.rst
  docs/platform/howto/saml/setup-saml-azure.rst
  docs/platform/howto/saml/setup-saml-fusionauth.rst
  docs/platform/howto/saml/setup-saml-google.rst
  docs/platform/howto/saml/setup-saml-jumpcloud.rst
  docs/platform/howto/saml/setup-saml-okta.rst
  docs/platform/howto/saml/setup-saml-onelogin.rst
  docs/platform/howto/set-authentication-policies.rst
Labels: Platform, pre-release, Platform - Auth

#2158 Update unassigned projects article
  docs/platform/howto/manage-unassigned-projects.rst
Labels: Platform, pre-release

#2290 [DON'T MERGE] platform: docs updates for the new service settings UX
  docs/platform/reference/eol-for-major-versions.rst
  docs/products/cassandra/howto/manage-cross-cluster-replication.rst
  docs/products/cassandra/overview.rst
  docs/products/clickhouse/howto/connect-with-clickhouse-cli.rst
  docs/products/clickhouse/howto/enable-tiered-storage.rst
  docs/products/clickhouse/howto/secure-service.rst
  docs/products/grafana/howto/dashboard-previews.rst
  docs/products/kafka/howto/enabled-consumer-lag-predictor.rst
  docs/products/kafka/kafka-mirrormaker/getting-started.rst
  docs/products/kafka/karapace/howto/enable-karapace.rst
  docs/products/m3db/howto/grafana.rst
  docs/products/mysql/concepts/mysql-replication.rst
  docs/products/mysql/get-started.rst
  docs/products/mysql/howto/create-missing-primary-keys.rst
  docs/products/mysql/howto/create-tables-without-primary-keys.rst
  docs/products/mysql/howto/enable-slow-queries.rst
  docs/products/mysql/howto/migrate-db-to-aiven-via-console.rst
  docs/products/opensearch/howto/opensearch-log-integration.rst
  docs/products/postgresql/howto/enable-jit.rst
  docs/products/postgresql/howto/migrate-cloud-region.rst
  docs/products/postgresql/howto/migrate-db-to-aiven-via-console.rst
  docs/products/postgresql/howto/prevent-full-disk.rst
  docs/products/postgresql/howto/restore-backup.rst
  docs/products/postgresql/howto/upgrade.rst
  docs/products/postgresql/reference/log-formats-supported.rst
  docs/products/redis/howto/migrate-redis-aiven-via-console.rst
Labels: pre-release

#2314 WIP: Content for Redis database migration to Aiven for Dragonfly
  _toc.yml
  docs/products/dragonfly/howto/list-migrate-data.rst
  docs/products/dragonfly/howto/migrate-aiven-redis-df-console.rst
  docs/products/dragonfly/howto/migrate-ext-redis-df-console.rst
Labels: Dragonfly

#2334 Connect with DF using programming languages
  .github/vale/dicts/aiven.dic
  _toc.yml
  docs/products/dragonfly/concepts/ha-dragonfly.rst
  docs/products/dragonfly/get-started.rst
  docs/products/dragonfly/howto/connect-go.rst
  docs/products/dragonfly/howto/connect-node.rst
  docs/products/dragonfly/howto/connect-python.rst
  docs/products/dragonfly/howto/connect-redis-cli.rst
  docs/products/dragonfly/howto/list-code-samples.rst
Labels: Dragonfly

#2341 Add managed users article
  _toc.yml
  docs/platform/concepts/managed-users.rst
Labels: Platform

#2313 clickhouse,cassandra: add ref docs for metrics via Prometheus and Datadog
  _toc.yml
  docs/products/cassandra/reference.rst
  docs/products/cassandra/reference/cassandra-metrics-datadog.rst
  docs/products/clickhouse/reference.rst
  docs/products/clickhouse/reference/clickhouse-metrics-datadog.rst
  docs/products/clickhouse/reference/clickhouse-metrics-prometheus.rst
Labels: Cassandra, ClickHouse

#2316 Update technical contacts article
  docs/platform/howto/technical-emails.rst
Labels: Platform, pre-release

#2279 WIP- Aiven-for-Dragonfly-service
  .github/vale/dicts/aiven.dic
  .github/vale/styles/Aiven/first_Dragonfly_is_registered.yml
  .github/workflows/advanced-params-dragonfly.yaml
  _toc.yml
  conf.py
  docs/products/dragonfly.rst
  docs/products/dragonfly/concepts.rst
  docs/products/dragonfly/concepts/ha-dragonfly.rst
  docs/products/dragonfly/concepts/overview.rst
  docs/products/dragonfly/get-started.rst
  docs/products/dragonfly/howto.rst
  docs/products/dragonfly/howto/connect-go.rst
  docs/products/dragonfly/howto/connect-node.rst
  docs/products/dragonfly/howto/connect-python.rst
  docs/products/dragonfly/howto/connect-redis-cli.rst
  docs/products/dragonfly/howto/list-code-samples.rst
  docs/products/dragonfly/howto/list-migrate-data.rst
  docs/products/dragonfly/howto/migrate-aiven-redis-df-console.rst
  docs/products/dragonfly/howto/migrate-ext-redis-df-console.rst
  images/icon-dragonfly.svg
  index.rst
Labels: Dragonfly

#2311 clickhouse: add limitation for scaling down with sharding
  docs/products/clickhouse/reference/limitations.rst
Labels: ClickHouse

#2358 platform: add info on service backup deletion policy
  docs/platform/concepts/service_backups.rst
Labels: Platform

#2343 Update EOL info for Terraform
  docs/platform/reference/eol-for-major-versions.rst
Labels: Terraform

#2359 platform: add info on periodic infrastructure updates
  docs/platform/concepts/maintenance-window.rst
Labels: Platform - Updates and maintenance

#2360 platform: improve terminology for service version life cycle
  docs/platform/reference/eol-for-major-versions.rst
Labels: Platform

#2367 Add note about tokens and 2FA
  docs/platform/howto/set-authentication-policies.rst
Labels: Platform - Auth

#2344 platform: add CIDR guidelines to the BYOC docs
  .github/vale/dicts/aiven.dic
  docs/platform/howto/byoc/create-custom-cloud.rst
Labels: Platform - Networking

#2366 Updated audit log content for OS Security
  docs/products/opensearch/howto/audit-logs.rst
Labels: OpenSearch

#2381 Add --project parameter for PG and MySQL CLI commands
  docs/products/mysql/howto/do-check-service-migration.rst
  docs/products/mysql/howto/migrate-from-external-mysql.rst
  docs/products/postgresql/howto/enable-jit.rst
  docs/products/postgresql/howto/migrate-aiven-db-migrate.rst
  docs/products/postgresql/howto/migrate-pg-dump-restore.rst
  docs/products/postgresql/howto/pgbouncer-stats.rst
Labels: PostgreSQL, MySQL, CLI

#2383 platform: vpc peering connection time interval for implementing user changes
  docs/platform/howto/manage-vpc-peering.rst
Labels: Platform - Networking

#2382 add project parameter to clickhouse and cassandra cli
  docs/products/cassandra/howto/disable-cross-cluster-replication.rst
  docs/products/cassandra/howto/enable-cross-cluster-replication.rst
  docs/products/clickhouse/howto/integrate-kafka.rst
  docs/products/clickhouse/howto/integrate-postgresql.rst
Labels: Cassandra, CLI, ClickHouse

#2380 Added missing service type config for DF adv parameter
  Makefile
  includes/config-dragonfly.rst
Labels: Dragonfly

#2388 Add instructions for deleting and renaming orgs
  _toc.yml
  docs/platform/howto/manage-organizations.rst
Labels: Platform

#2390 Updated service settings for more service topics
  docs/products/grafana/howto/dashboard-previews.rst
  docs/products/grafana/howto/pitr-process-for-grafana.rst
  docs/products/kafka/howto/change-retention-period.rst
  docs/products/kafka/howto/configure-log-cleaner.rst
  docs/products/kafka/howto/create-topic.rst
  docs/products/kafka/howto/create-topics-automatically.rst
  docs/products/kafka/howto/enable-oidc.rst
  docs/products/kafka/howto/enabled-consumer-lag-predictor.rst
  docs/products/kafka/howto/kafka-sasl-auth.rst
  docs/products/kafka/howto/keystore-truststore.rst
  docs/products/kafka/howto/prevent-full-disks.rst
  docs/products/kafka/howto/use-zookeeper.rst
  docs/products/kafka/kafka-mirrormaker/howto/setup-replication-flow.rst
  docs/products/kafka/karapace/howto/enable-karapace.rst
  images/products/kafka/sasl-connect.png
  images/products/kafka/ssl-certificates-download.png
Labels: Grafana, Kafka

#2384 Client-side parameter value update for Kafka TS
  docs/products/kafka/howto/configure-topic-tiered-storage.rst
  docs/products/kafka/howto/enable-kafka-tiered-storage.rst
  docs/products/kafka/howto/kafka-tiered-storage-get-started.rst
  docs/products/kafka/howto/tiered-storage-overview-page.rst
Labels: Kafka

#2389 platform: sync with ux (service settings page) for networking, security, monitoring, lags sections
  .github/vale/dicts/aiven.dic
  docs/integrations/cloudwatch/cloudwatch-logs-console.rst
  docs/integrations/cloudwatch/cloudwatch-metrics.rst
  docs/integrations/datadog/add-custom-tags-to-datadog.rst
  docs/integrations/datadog/datadog-logs.rst
  docs/integrations/datadog/datadog-metrics.rst
  docs/integrations/prometheus-system-metrics.rst
  docs/integrations/rsyslog.rst
  docs/integrations/rsyslog/loggly.rst
  docs/integrations/send-logs-to-elasticsearch.rst
  docs/platform/concepts/logs-metrics-alerts.rst
  docs/platform/concepts/tls-ssl-certificates.rst
  docs/platform/howto/integrations/access-jmx-metrics-jolokia.rst
  docs/platform/howto/integrations/prometheus-metrics.rst
  docs/platform/howto/manage-vpc-peering.rst
  docs/platform/howto/public-access-in-vpc.rst
  docs/platform/howto/restrict-access.rst
  docs/platform/howto/use-aws-privatelinks.rst
  docs/platform/howto/use-azure-privatelink.rst
  docs/platform/howto/use-google-private-service-connect.rst
  docs/tutorials/anomaly-detection.rst
  images/tutorials/anomaly-detection/flink-console-integration.png
Labels: security, Platform - Networking, Console

#2385 Clarify Add Kafka producer and consumer Datadog metrics
  docs/products/kafka/howto/add-missing-producer-consumer-metrics.rst
Labels: Kafka

#2391 Delete instructions for removed CLI commands
  _redirects
  _toc.yml
  docs/platform/howto/add-authentication-method.rst
  docs/tools/cli.rst
  docs/tools/cli/account.rst
  docs/tools/cli/account/account-authentication-method.rst
  docs/tools/cli/card.rst
Labels: CLI

#2168 postgres: Adding docs for creating a read only user.
  _toc.yml
  docs/products/postgresql/howto.rst
  docs/products/postgresql/howto/list-dba-tasks.rst
  docs/products/postgresql/howto/readonly-user.rst
Labels: PostgreSQL
