Repository aiven/devportal, pull requests merged in 2023-11, with the labels that each got.

#2214 platform: add cloud region "upcloud-se-sto"
  includes/clouds-list.rst
Labels: Platform, Clouds & Regions

#2194 updated various broken links
  docs/products/clickhouse/howto/connect-with-clickhouse-cli.rst
  docs/products/clickhouse/howto/connect-with-go.rst
  docs/products/clickhouse/howto/connect-with-nodejs.rst
  docs/products/kafka/howto/connect-with-command-line.rst
  docs/products/kafka/kafka-connect/howto/debezium-source-connector-pg-node-replacement.rst
  docs/products/kafka/kafka-connect/howto/s3-sink-prereq.rst
  docs/products/kafka/kafka-mirrormaker/reference/known-issues.rst
Labels: Kafka, Terraform, ClickHouse

#2216 Update tax info from Finance
  .github/vale/dicts/aiven.dic
  docs/platform/concepts/tax-information.rst
Labels: Platform - Billing

#2142 Kafka tiered storage concept content
  _toc.yml
  docs/products/kafka/concepts/kafka-tiered-storage.rst
  docs/products/kafka/concepts/list-kafka-tiered-storage.rst
  docs/products/kafka/concepts/tiered-storage-guarantees.rst
  docs/products/kafka/concepts/tiered-storage-how-it-works.rst
  docs/products/kafka/concepts/tiered-storage-limitations.rst
  images/products/kafka/tiered-storage/data-retention.png
Labels: Kafka

#2162 HowTo topics for Kafka tiered storage
  .github/vale/dicts/aiven.dic
  _toc.yml
  docs/products/kafka/concepts/kafka-tiered-storage.rst
  docs/products/kafka/howto/configure-topic-tiered-storage.rst
  docs/products/kafka/howto/enable-kafka-tiered-storage.rst
  docs/products/kafka/howto/kafka-tiered-storage-get-started.rst
  docs/products/kafka/howto/tiered-storage-overview-page.rst
Labels: Kafka

#2196 Fixes for AWS PrivateLink docs
  docs/platform/howto/use-aws-privatelinks.rst
Labels: Platform - Networking

#2240 Updated note for TS to limited availability
  docs/products/kafka/concepts/kafka-tiered-storage.rst
  docs/products/kafka/concepts/tiered-storage-how-it-works.rst
  docs/products/kafka/howto/configure-topic-tiered-storage.rst
  docs/products/kafka/howto/enable-kafka-tiered-storage.rst
  docs/products/kafka/howto/kafka-tiered-storage-get-started.rst
  docs/products/kafka/howto/tiered-storage-overview-page.rst
Labels: Kafka

#2241 platform: update upcloud vpc peering how-to - add a requirement to renew a dhcp lease
  .github/vale/styles/Aiven/capitalization_headings.yml
  docs/platform/howto/vpc-peering-upcloud.rst
Labels: Platform - Networking

#2237 Content for OAuth2/OIDC support for Kafka REST proxy
  _toc.yml
  docs/products/kafka/howto/enable-oidc.rst
  docs/products/kafka/karapace/concepts/kafka-rest-proxy-authorization.rst
  docs/products/kafka/karapace/getting-started.rst
  docs/products/kafka/karapace/howto/enable-kafka-rest-proxy-authorization.rst
  docs/products/kafka/karapace/howto/enable-oauth-oidc-kafka-rest-proxy.rst
  docs/products/kafka/karapace/howto/manage-kafka-rest-proxy-authorization.rst
Labels: Kafka

#2242 Add MirrorMaker2 topic details to external integration howto [HH-2946]
  docs/products/kafka/kafka-mirrormaker/howto/integrate-external-kafka-cluster.rst
Labels: Kafka

#2256 OS plugins included info about submitting Aiven idea
  docs/products/opensearch/reference/plugins.rst
Labels: OpenSearch

#2258 Updated EOL dates for Kafka v3.6
  docs/platform/reference/eol-for-major-versions.rst
Labels: Kafka

#2243 Added restricted Redis commands
  .github/vale/dicts/aiven.dic
  _toc.yml
  docs/products/redis/concepts/restricted-redis-commands.rst
Labels: Redis

#2218 Update instructions and align with style guide
  docs/tools/aiven-console/howto/create-accounts.rst
Labels: Platform, maintenance

#2221 Align project roles article with style guide
  docs/platform/reference/project-member-privileges.rst
Labels: Platform - Access management

#2222 Align access management articles with style guide
  docs/platform/howto/add-authentication-method.rst
  docs/platform/reference/password-policy.rst
Labels: maintenance, Platform - Access management

#2278 Fix indenting for bullet points
  docs/platform/howto/saml/setup-saml-auth0.rst
  docs/platform/howto/saml/setup-saml-azure.rst
  docs/platform/howto/saml/setup-saml-fusionauth.rst
  docs/platform/howto/saml/setup-saml-google.rst
  docs/platform/howto/saml/setup-saml-jumpcloud.rst
  docs/platform/howto/saml/setup-saml-okta.rst
  docs/platform/howto/saml/setup-saml-onelogin.rst
  images/platform/howto/saml/okta/okta-edit-method.png
  images/platform/howto/saml/okta/okta-saml-settings.png
Labels: maintenance

#2148 Add documentation for super admin
  _toc.yml
  docs/platform/concepts/projects_accounts_access.rst
  docs/platform/howto/make-super-admin.rst
Labels: pre-release, Platform - Access management

#2157 Add instructions to manually migrate teams to groups
  docs/tools/aiven-console/howto/create-manage-teams.rst
Labels: Platform, Platform - Access management

#2145 Add info on automated migration from teams to groups
  docs/tools/aiven-console/howto/create-manage-teams.rst
Labels: Platform, pre-release, Platform - Access management, on hold

#2285 customer facing recommendation to prevent KStream data write issue
  _toc.yml
  docs/products/kafka/reference/kstream-data-write-issue.rst
Labels: Kafka

#2282 platform: add new cloud region - google-europe-west12-turin-italy
  includes/clouds-list.rst
Labels: Clouds & Regions

#2289 added extra workaround to the KStream bug
  docs/products/kafka/reference/kstream-data-write-issue.rst
Labels: Kafka

#2294 mysql: add prerequisite for ca.pem permissions while connecting to mysql with php
  code/products/mysql/connect.php
  docs/products/mysql/howto/connect-with-php.rst
Labels: MySQL

#2297 mysql: mysql-fix-connect-via-php-ca-file-paths
  code/products/mysql/connect.php
  docs/products/mysql/howto/connect-with-php.rst
Labels: MySQL

#2287 Kafka TS: Updated note from LA to EA feature
  docs/products/kafka/concepts/kafka-tiered-storage.rst
  docs/products/kafka/concepts/tiered-storage-how-it-works.rst
  docs/products/kafka/howto/enable-kafka-tiered-storage.rst
Labels: Kafka

#2312 clickhouse: add ref doc for supported protocols and drivers
  _toc.yml
  docs/products/clickhouse/reference.rst
  docs/products/clickhouse/reference/supported-interfaces-drivers.rst
Labels: ClickHouse
