Repository aiven/devportal, pull requests merged in 2023-07, with the labels that each got.

#1977 clickhouse: add optional settings for clickhouse-kafka integration
  docs/products/clickhouse/howto/integrate-kafka.rst
Labels: ClickHouse

#1982 clickhouse: remove duplicated kafka integration formats
  docs/products/clickhouse/howto/integrate-kafka.rst
Labels: ClickHouse

#1975 Added content for Consumer group telemetry
  _toc.yml
  docs/products/kafka/concepts/monitor-consumer-group.rst
  images/products/kafka/consumer-group-graphs-for-kafka-dashboards.png
Labels: Kafka

#1927 Preprocess sitemap exclude html extension
  Makefile
  requirements.txt
  scripts/postprocess_sitemap.py
Labels: bug

#1860 Add FusionAuth SAML integration guide
  .github/vale/dicts/aiven.dic
  .github/vale/styles/Aiven/capitalization_headings.yml
  _toc.yml
  docs/platform/howto/saml/saml-authentication.rst
  docs/platform/howto/saml/setup-saml-fusionauth.rst
  images/platform/howto/saml/fusionauth/create-api-key.png
  images/platform/howto/saml/fusionauth/grab-api-key.png
  images/platform/howto/saml/fusionauth/login-sso.png
Labels: Platform, Platform - Auth

#1968 added -c flag + example to documentation
  docs/tools/cli/service.rst
Labels: CLI

#1996 Updated Integration content with the new console nav
  _toc.yml
  docs/integrations/cloudlogging.rst
  docs/integrations/cloudwatch/cloudwatch-logs-console.rst
  docs/integrations/cloudwatch/cloudwatch-metrics.rst
  docs/integrations/datadog/add-custom-tags-to-datadog.rst
  docs/integrations/datadog/datadog-logs.rst
  docs/integrations/datadog/datadog-metrics.rst
  docs/integrations/rsyslog.rst
  docs/integrations/send-logs-to-elasticsearch.rst
  docs/tutorials/anomaly-detection.rst
  images/integrations/aiven-integrations.png
  images/integrations/cloudwatch-metrics-list.png
  images/integrations/cloudwatch-overview-integrations.png
  images/integrations/rsyslog-service-integration.png
  images/tutorials/anomaly-detection/create-application.png
  images/tutorials/anomaly-detection/flink-console-integration.png
Labels: Platform

#1995 Updated platform monitoring content with the new console nav
  .github/vale/dicts/aiven.dic
  .github/vale/styles/Aiven/capitalization_headings.yml
  docs/platform/howto/integrations/access-jmx-metrics-jolokia.rst
  docs/platform/howto/integrations/prometheus-metrics.rst
  docs/platform/howto/monitoring-services.rst
  images/platform/integrations/prometheus-advanced-configurations.png
  images/platform/integrations/prometheus-endpoint-select.png
  images/platform/integrations/prometheus-service-info.png
Labels: Platform

#1988 platform: update docs to align with the console navigation changes - service/network-management + platform concepts and reference
  docs/platform/concepts/authentication-tokens.rst
  docs/platform/concepts/dynamic-disk-sizing.rst
  docs/platform/concepts/service-power-cycle.rst
  docs/platform/concepts/service_backups.rst
  docs/platform/howto/access-service-logs.rst
  docs/platform/howto/add-storage-space.rst
  docs/platform/howto/attach-vpc-aws-tgw.rst
  docs/platform/howto/cleanup-powered-off-services.rst
  docs/platform/howto/console-fork-service.rst
  docs/platform/howto/create-service-integration.rst
  docs/platform/howto/create_new_service.rst
  docs/platform/howto/create_new_service_user.rst
  docs/platform/howto/download-ca-cert.rst
  docs/platform/howto/manage-vpc-peering.rst
  docs/platform/howto/migrate-services-cloud-region.rst
  docs/platform/howto/migrate-services-vpc.rst
  docs/platform/howto/pause-from-cli.rst
  docs/platform/howto/prepare-for-high-load.rst
  docs/platform/howto/public-access-in-vpc.rst
  docs/platform/howto/recover-a-deleted-service.rst
  docs/platform/howto/rename-a-service.rst
  docs/platform/howto/restrict-access.rst
  docs/platform/howto/scale-services.rst
  docs/platform/howto/search-services.rst
  docs/platform/howto/service-metrics.rst
  docs/platform/howto/tag-resources.rst
  docs/platform/howto/use-aws-privatelinks.rst
  docs/platform/howto/use-azure-privatelink.rst
  docs/platform/howto/use-google-private-service-connect.rst
  docs/platform/howto/vpc-peering-aws.rst
  docs/platform/howto/vpc-peering-gcp.rst
  docs/platform/reference/eol-for-major-versions.rst
Labels: Platform

#1989 Updated Flink content with the new console navigation
  docs/products/flink/getting-started.rst
  docs/products/flink/howto/connect-kafka.rst
  docs/products/flink/howto/connect-opensearch.rst
  docs/products/flink/howto/connect-pg.rst
  docs/products/flink/howto/create-flink-applications.rst
  docs/products/flink/howto/create-integration.rst
  docs/products/flink/howto/datagen-connector.rst
  docs/products/flink/howto/ext-kafka-flink-integration.rst
  docs/products/flink/howto/flink-confluent-avro.rst
  docs/products/flink/howto/manage-flink-applications.rst
  docs/products/flink/howto/manage-flink-tables.rst
  docs/products/flink/howto/pg-cdc-connector.rst
  docs/products/flink/howto/slack-connector.rst
Labels: Flink

#1987 Updated content for OpenSearch based on the new console navigation
  docs/products/opensearch/dashboards/howto/opensearch-alerting-dashboard.rst
  docs/products/opensearch/howto/audit-logs.rst
  docs/products/opensearch/howto/control_access_to_content.rst
  docs/products/opensearch/howto/enable-opensearch-security.rst
  docs/products/opensearch/howto/opensearch-log-integration.rst
  docs/products/opensearch/howto/restore_opensearch_backup.rst
  docs/products/opensearch/howto/saml-sso-authentication.rst
  docs/products/opensearch/howto/set_index_retention_patterns.rst
  docs/products/opensearch/howto/setup-cross-cluster-replication-opensearch.rst
  docs/products/opensearch/howto/upgrade-to-opensearch.rst
Labels: OpenSearch

#1986 Updated new console navigation for Apache Kafka Connect and MirrorMaker
  .github/vale/dicts/aiven.dic
  docs/products/kafka/kafka-connect/getting-started.rst
  docs/products/kafka/kafka-connect/howto/cassandra-streamreactor-sink.rst
  docs/products/kafka/kafka-connect/howto/cassandra-streamreactor-source.rst
  docs/products/kafka/kafka-connect/howto/couchbase-sink.rst
  docs/products/kafka/kafka-connect/howto/couchbase-source.rst
  docs/products/kafka/kafka-connect/howto/debezium-source-connector-mongodb.rst
  docs/products/kafka/kafka-connect/howto/debezium-source-connector-mysql.rst
  docs/products/kafka/kafka-connect/howto/debezium-source-connector-sql-server.rst
  docs/products/kafka/kafka-connect/howto/elasticsearch-sink.rst
  docs/products/kafka/kafka-connect/howto/enable-automatic-restart.rst
  docs/products/kafka/kafka-connect/howto/enable-connect.rst
  docs/products/kafka/kafka-connect/howto/gcp-bigquery-sink.rst
  docs/products/kafka/kafka-connect/howto/gcp-pubsub-lite-sink.rst
  docs/products/kafka/kafka-connect/howto/gcp-pubsub-lite-source.rst
  docs/products/kafka/kafka-connect/howto/gcp-pubsub-sink.rst
  docs/products/kafka/kafka-connect/howto/gcp-pubsub-source.rst
  docs/products/kafka/kafka-connect/howto/gcs-sink.rst
  docs/products/kafka/kafka-connect/howto/http-sink.rst
  docs/products/kafka/kafka-connect/howto/influx-sink.rst
  docs/products/kafka/kafka-connect/howto/jdbc-sink.rst
  docs/products/kafka/kafka-connect/howto/mongodb-poll-source-connector.rst
  docs/products/kafka/kafka-connect/howto/mongodb-sink-lenses.rst
  docs/products/kafka/kafka-connect/howto/mongodb-sink-mongo.rst
  docs/products/kafka/kafka-connect/howto/mqtt-sink-connector.rst
  docs/products/kafka/kafka-connect/howto/mqtt-source-connector.rst
  docs/products/kafka/kafka-connect/howto/opensearch-sink.rst
  docs/products/kafka/kafka-connect/howto/redis-streamreactor-sink.rst
  docs/products/kafka/kafka-connect/howto/snowflake-sink.rst
  docs/products/kafka/kafka-connect/howto/splunk-sink.rst
  docs/products/kafka/kafka-mirrormaker/getting-started.rst
  docs/products/kafka/kafka-mirrormaker/howto/integrate-external-kafka-cluster.rst
  docs/products/kafka/kafka-mirrormaker/howto/setup-replication-flow.rst
Labels: Kafka

#1983 Updated Kafka content based on new console navigation
  .github/vale/dicts/aiven.dic
  docs/products/kafka/concepts/acl.rst
  docs/products/kafka/getting-started.rst
  docs/products/kafka/howto/change-retention-period.rst
  docs/products/kafka/howto/configure-log-cleaner.rst
  docs/products/kafka/howto/create-topic.rst
  docs/products/kafka/howto/create-topics-automatically.rst
  docs/products/kafka/howto/fake-sample-data.rst
  docs/products/kafka/howto/get-topic-partition-details.rst
  docs/products/kafka/howto/integrate-service-logs-into-kafka-topic.rst
  docs/products/kafka/howto/kafka-sasl-auth.rst
  docs/products/kafka/howto/keystore-truststore.rst
  docs/products/kafka/howto/manage-acls.rst
  docs/products/kafka/howto/manage-quotas.rst
  docs/products/kafka/howto/monitor-logs-acl-failure.rst
  docs/products/kafka/howto/prevent-full-disks.rst
  docs/products/kafka/howto/renew-ssl-certs.rst
  docs/products/kafka/howto/use-zookeeper.rst
  images/products/kafka/enable-sasl.png
  images/products/kafka/sasl-connect.png
  images/products/kafka/ssl-cert-renewal.png
  images/products/kafka/ssl-certificates-download.png
Labels: Kafka

#1999 platform: update article on restricting service access and add a note on filter application
  docs/platform/howto/restrict-access.rst
Labels: Platform - Networking

#1994 Update Kafka custom datadog metrics example
  docs/products/kafka/howto/datadog-customised-metrics.rst
Labels: Kafka

#2005 Issue 2004, update to session_timeout_ms default value
  includes/config-kafka.rst
Labels: Kafka

#2009 Add article for free trials
  _toc.yml
  docs/platform/concepts/free-plan.rst
  docs/platform/concepts/free-trial.rst
Labels: Platform

#2015 platform: hide advanced parameter additional_backup_regions
  includes/config-cassandra.rst
  includes/config-clickhouse.rst
  includes/config-grafana.rst
  includes/config-influxdb.rst
  includes/config-kafka.rst
  includes/config-kafka_connect.rst
  includes/config-kafka_mirrormaker.rst
  includes/config-m3db.rst
  includes/config-mysql.rst
  includes/config-opensearch.rst
  includes/config-redis.rst
Labels: Platform

#2012 postgresql: add info on logical replication restrictions
  docs/products/postgresql/howto/migrate-aiven-db-migrate.rst
Labels: PostgreSQL

#2016 Create get started section
  _toc.yml
  docs/get-started.rst
  docs/marketplace-setup.rst
  docs/platform.rst
  docs/platform/howto/billing-aws-marketplace-subscription.rst
  docs/platform/howto/billing-azure-marketplace-subscription.rst
  docs/platform/howto/billing-google-cloud-platform-marketplace-subscription.rst
  docs/tools/aiven-console.rst
Labels: Platform

#1954 Update console overview for recent changes
  docs/tools/aiven-console.rst
  images/tools/console/console_services_switchaccount.png
Labels: Console

#1997 Add article on PITR process for Gafana (SUP-697)
  _toc.yml
  docs/products/grafana/howto/pitr-process-for-grafana.rst
  images/products/grafana/grafana-pitr-after-fork.png
  images/products/grafana/grafana-pitr-fork-restore.png
  images/products/grafana/grafana-pitr-new-db-fork-popup.png
Labels: Grafana

#1940 Update instructions for authentication
  docs/platform/howto/add-authentication-method.rst
  docs/platform/howto/create_authentication_token.rst
  docs/platform/howto/user-2fa.rst
Labels: Platform - Auth

#2019 platform: fix the logical error in the BYOC concept
  docs/platform/concepts/byoc.rst
Labels: Platform

#2035 Updated OS multi-tenancy dashboard content
  docs/products/opensearch/howto/opensearch-dashboard-multi_tenancy.rst
Labels: OpenSearch

#2042 Added OS warning message to service maintenance topic
  docs/platform/concepts/maintenance-window.rst
  docs/products/opensearch/dashboards.rst
  docs/products/opensearch/dashboards/getting-started.rst
Labels: OpenSearch

#2041 How to integrating Aiven for Apache Flink with Google BigQuery
  .github/vale/dicts/aiven.dic
  _toc.yml
  docs/products/flink/howto/connect-bigquery.rst
  docs/products/flink/howto/ext-kafka-flink-integration.rst
Labels: Flink

#2040 cassandra: align the articles to the new feature availability naming terminology
  docs/products/cassandra/concepts/cross-cluster-replication.rst
  docs/products/cassandra/howto/disable-cross-cluster-replication.rst
  docs/products/cassandra/howto/enable-cross-cluster-replication.rst
  docs/products/cassandra/howto/list-cross-cluster-replication.rst
  docs/products/cassandra/howto/manage-cross-cluster-replication.rst
Labels: Cassandra

#2037 Update feature preview note to new template
  docs/platform/howto/manage-org-users.rst
Labels: Platform
