Repository aiven/devportal, pull requests merged in 2023-04, with the labels that each got.

#1846 clickhouse: add redirect for the ClickHouse-PostgreSQL integration article to fix a broken link in the console
  _redirects
Labels: clickhouse

#1848 Add article on managing unassigned projects
  _toc.yml
  docs/platform/howto/manage-unassigned-projects.rst
Labels: Platform, pre-release

#1845 mysql: reorganize the mysql doc section to match the new structure
  _toc.yml
  docs/products/cassandra/howto/list-get-started.rst
  docs/products/cassandra/howto/setup.rst
  docs/products/mysql.rst
  docs/products/mysql/concepts.rst
  docs/products/mysql/get-started.rst
  docs/products/mysql/howto.rst
  docs/products/mysql/howto/list-code-samples.rst
  docs/products/mysql/howto/list-get-started.rst
  docs/products/mysql/howto/list-manage-cluster.rst
  docs/products/mysql/howto/list-manage-database.rst
  docs/products/mysql/howto/list-manage-disk-space.rst
  docs/products/mysql/howto/list-migrate-data.rst
  docs/products/mysql/howto/prevent-disk-full.rst
  docs/products/mysql/overview.rst
  docs/products/mysql/reference.rst
Labels: mysql

#1847 Updated Service backup content
  _toc.yml
  docs/platform/concepts/service_backups.rst
  docs/platform/howto/cleanup-powered-off-services.rst
Labels: Platform

#1838 kafka: Clarify upgrade-procedure wording on plan changes
  docs/products/kafka/concepts/upgrade-procedure.rst
Labels: kafka

#1850 Udpated content for OS optimal number of shards
  docs/products/opensearch/concepts/shards-number.rst
Labels: opensearch

#1859 Add free plan article
  _toc.yml
  docs/platform/concepts/free-plan.rst
Labels: Platform, pre-release

#1862 platform: fix numbering of steps in saml docs
  docs/platform/howto/saml/setup-saml-auth0.rst
  docs/platform/howto/saml/setup-saml-okta.rst
Labels: Platform

#1849 Slightly clearer wording on the marketplace migration process
  docs/platform/howto/move-to-gcp-marketplace-billing.rst
Labels: Platform

#1868 Integrate ext Apache Kafka with Aiven Apache Flink
  _toc.yml
  docs/products/flink/howto/ext-kafka-flink-integration.rst
  docs/products/flink/howto/list-integrations.rst
  docs/tools/cli/service/flink.rst
Labels: kafka

#1865 Add instructions for upgrading TF to v4
  _toc.yml
  docs/tools/terraform/howto/upgrade-provider-v3-v4.rst
Labels: terraform

#1870 tools-cli: fix command avn project switch
  docs/tools/cli/project.rst
Labels: avn cli

#1869 postgresql: reorganize the postgresql doc section to match the new structure
  _toc.yml
  docs/products/mysql/howto/list-manage-cluster.rst
  docs/products/postgresql.rst
  docs/products/postgresql/concepts.rst
  docs/products/postgresql/howto.rst
  docs/products/postgresql/howto/list-code-samples.rst
  docs/products/postgresql/howto/list-dba-tasks.rst
  docs/products/postgresql/howto/list-get-started.rst
  docs/products/postgresql/howto/list-integrations.rst
  docs/products/postgresql/howto/list-manage-cluster.rst
  docs/products/postgresql/howto/list-replication-migration.rst
  docs/products/postgresql/howto/list-replication.rst
  docs/products/postgresql/overview.rst
  docs/products/postgresql/reference.rst
  docs/products/postgresql/troubleshooting.rst
Labels: postgresql

#1863 Updated tip information
  docs/products/kafka/kafka-connect/howto/mongodb-poll-source-connector.rst
Labels: kafka

#1866 Updating Aiven Terraform provider versions based on discussion.
  docs/tools/terraform/get-started.rst
  docs/tools/terraform/howto/config-postgresql-provider.rst
  docs/tools/terraform/howto/upgrade-provider-v1-v2.rst
  docs/tools/terraform/howto/upgrade-provider-v2-v3.rst
  docs/tools/terraform/reference/cookbook/clickhouse-access-setup-recipe.rst
  docs/tools/terraform/reference/cookbook/grafana-m3db-postgresql-recipe.rst
  docs/tools/terraform/reference/cookbook/kafka-clickhouse-integration-recipe.rst
  docs/tools/terraform/reference/cookbook/kafka-connect-terraform-recipe.rst
  docs/tools/terraform/reference/cookbook/kafka-custom-conf-recipe.rst
  docs/tools/terraform/reference/cookbook/kafka-debezium-postgres-source.rst
  docs/tools/terraform/reference/cookbook/kafka-flink-integration-recipe.rst
  docs/tools/terraform/reference/cookbook/kafka-karapace-recipe.rst
  docs/tools/terraform/reference/cookbook/kafka-mirrormaker-recipe.rst
  docs/tools/terraform/reference/cookbook/kafka-mongodb-recipe.rst
  docs/tools/terraform/reference/cookbook/kafka-topics-http-connector-recipe.rst
  docs/tools/terraform/reference/cookbook/m3db-m3agg-recipe.rst
  docs/tools/terraform/reference/cookbook/multicloud-postgresql-recipe.rst
  docs/tools/terraform/reference/cookbook/postgres-clickhouse-integration-recipe.rst
  docs/tools/terraform/reference/cookbook/postgresql-custom-configs-recipe.rst
  docs/tools/terraform/reference/cookbook/postgresql-read-replica-recipe.rst
Labels: terraform

#1873 Fix add storage article
  docs/platform/concepts/dynamic-disk-sizing.rst
  docs/platform/howto/add-storage-space.rst
Labels: Platform

#1876 postgresql: add rel 15 to the list of supported versions
  docs/platform/reference/eol-for-major-versions.rst
Labels: postgresql

#1874 Fixing a typo.
  docs/products/mysql/howto/create-tables-without-primary-keys.rst
Labels: mysql

#1879 fix: update gcp pub/sub connector link
  docs/products/kafka/kafka-connect/concepts/list-of-connector-plugins.rst
  docs/products/kafka/kafka-connect/howto/gcp-pubsub-lite-sink.rst
  docs/products/kafka/kafka-connect/howto/gcp-pubsub-lite-source.rst
  docs/products/kafka/kafka-connect/howto/gcp-pubsub-sink.rst
  docs/products/kafka/kafka-connect/howto/gcp-pubsub-source.rst
Labels: kafka
