Repository aiven/devportal, pull requests merged in 2023-09, with the labels that each got.

#2100 Updated the Flink-BG integration via console content
  docs/products/flink/howto/connect-bigquery.rst
Labels: Flink

#2127 Udpated the EOL for OS 1.x
  docs/platform/reference/eol-for-major-versions.rst
Labels: OpenSearch

#2101 kafka: kafka-metrics-prometheus
  .github/vale/dicts/aiven.dic
  docs/products/kafka/reference/kafka-metrics-prometheus.rst
Labels: Kafka

#2124 doc,opensearch: add troubleshooting for opensearch-dashboards
  _toc.yml
  docs/products/opensearch/troubleshooting.rst
  docs/products/opensearch/troubleshooting/troubleshooting-opensearch-dashboards.rst
Labels: OpenSearch

#2094 Update docs for users and groups GA release
  docs/platform/concepts/projects_accounts_access.rst
  docs/platform/howto/add-groups-projects.rst
  docs/platform/howto/manage-groups.rst
  docs/platform/howto/manage-org-users.rst
  docs/platform/howto/manage-unassigned-projects.rst
  docs/platform/howto/saml/saml-authentication.rst
  docs/platform/howto/saml/setup-saml-auth0.rst
  docs/platform/howto/saml/setup-saml-azure.rst
  docs/platform/howto/saml/setup-saml-fusionauth.rst
  docs/platform/howto/saml/setup-saml-google.rst
  docs/platform/howto/saml/setup-saml-jumpcloud.rst
  docs/platform/howto/saml/setup-saml-okta.rst
  docs/platform/howto/saml/setup-saml-onelogin.rst
  docs/platform/reference/project-member-privileges.rst
  docs/tools/aiven-console.rst
  docs/tools/aiven-console/howto/create-accounts.rst
  docs/tools/aiven-console/howto/create-manage-teams.rst
Labels: Platform, pre-release, Platform - Access management

#1943 Update instructions to change email address for orgs
  docs/platform/howto/change-your-email-address.rst
Labels: Platform

#2133 platform: fix the avn service privatelink azure create command
  docs/platform/howto/use-azure-privatelink.rst
Labels: Platform - Networking

#2135 platform: post-testing fixes to BYOC LA docs
  docs/platform/howto/byoc/create-custom-cloud.rst
Labels: Platform - Networking

#2134 Revert "issue-1972-changes-to-prebuilt-grafan-dashboards"
  docs/products/postgresql/howto/report-metrics-grafana.rst
Labels: PostgreSQL

#2138 Update style guide of contributing file
  CONTRIBUTING.rst
Labels: maintenance

#2144 clickhouse: remove "data upload from S3" from the clickhouse limitations doc
  docs/products/clickhouse/reference/limitations.rst
Labels: ClickHouse

#2143 updating more info on how to add or remove DDS wihtout any confilicts…
  docs/platform/howto/add-storage-space.rst
  docs/platform/howto/scale-services.rst
Labels: Platform

#2112 issue 2111 OS plugins update
  docs/products/opensearch/reference/plugins.rst
Labels: OpenSearch

#2150 fixed os trademark
  docs/products/kafka/kafka-connect/howto/elasticsearch-sink.rst
  docs/products/opensearch/concepts/opensearch-vs-elasticsearch.rst
  docs/products/opensearch/howto/import-opensearch-data-elasticsearch-dump-to-aiven.rst
  docs/products/opensearch/howto/import-opensearch-data-elasticsearch-dump-to-aws.rst
  docs/products/opensearch/howto/migrating_elasticsearch_data_to_aiven.rst
  docs/products/opensearch/reference/plugins.rst
Labels: OpenSearch

#2151 postgresql: remove the note about DBB limitation to new services only
  docs/products/postgresql/concepts/pg-backups.rst
Labels: PostgreSQL

#1914 clickhouse: tiered storage docs
  _toc.yml
  docs/products/clickhouse/concepts.rst
  docs/products/clickhouse/concepts/clickhouse-tiered-storage.rst
  docs/products/clickhouse/howto.rst
  docs/products/clickhouse/howto/check-data-tiered-storage.rst
  docs/products/clickhouse/howto/configure-tiered-storage.rst
  docs/products/clickhouse/howto/enable-tiered-storage.rst
  docs/products/clickhouse/howto/list-tiered-storage.rst
  docs/products/clickhouse/howto/transfer-data-tiered-storage.rst
Labels: ClickHouse, pre-release

#2152 cassandra: migrate to aiven using zdm proxy
  .github/vale/dicts/aiven.dic
  .github/vale/styles/Aiven/capitalization_headings.yml
  _toc.yml
  docs/products/cassandra/howto.rst
  docs/products/cassandra/howto/list-manage-service.rst
  docs/products/cassandra/howto/zdm-proxy.rst
Labels: Cassandra

#2156 platform: add clickhouse as a supported service for privatelink docs
  docs/platform/howto/use-azure-privatelink.rst
  docs/platform/howto/use-google-private-service-connect.rst
Labels: ClickHouse, Platform - Networking

#2146 Add instructions to delete account
  _toc.yml
  docs/platform/howto/delete-user.rst
Labels: Platform

#2159 platfrom: remove ipsec ingress deployment models from BYOC docs
  docs/platform/concepts/byoc.rst
  docs/platform/howto/byoc/create-custom-cloud.rst
Labels: Platform - Networking

#2160 platform: how to get connection info for services using multiple privatelink connections
  .github/vale/styles/Aiven/capitalization_headings.yml
  docs/platform/howto/use-aws-privatelinks.rst
  docs/platform/howto/use-azure-privatelink.rst
  docs/platform/howto/use-google-private-service-connect.rst
Labels: Platform - Networking
