Repository aiven/devportal, pull requests merged in 2023-05, with the labels that each got.

#1880 Fix double quote typo on S3 sink connector docs
  docs/products/kafka/kafka-connect/howto/s3-sink-connector-aiven.rst
Labels: kafka

#1871 New doc for support tier upgrades
  _toc.yml
  docs/platform/howto/change-support-tier.rst
  docs/platform/howto/list-support.rst
Labels: Platform, pre-release

#1852 kafka-connect: fix bigquery sink schema update config [HELP-156]
  docs/products/kafka/kafka-connect/howto/gcp-bigquery-sink.rst
Labels: kafka, tutorials

#1875 How to enable, configure and visualize OpenSearch Audit logs
  .github/vale/dicts/aiven.dic
  _toc.yml
  docs/products/opensearch/howto/audit-logs.rst
Labels: opensearch

#1840 Enable OpenSearch Security [DOC-241]
  .github/vale/dicts/aiven.dic
  _toc.yml
  docs/products/opensearch/concepts/access_control.rst
  docs/products/opensearch/concepts/os-security.rst
  docs/products/opensearch/concepts/users-access-controls.rst
  docs/products/opensearch/howto/control_access_to_content.rst
  docs/products/opensearch/howto/enable-opensearch-security.rst
  docs/products/opensearch/howto/list-access-control.rst
Labels: opensearch

#1881 SAML Authentication content for OpenSearch
  .github/vale/dicts/aiven.dic
  _toc.yml
  docs/products/opensearch/howto/saml-sso-authentication.rst
Labels: opensearch

#1839 Update TF recipes for v4.2.0 release changes
  docs/tools/terraform/reference/cookbook/kafka-connect-terraform-recipe.rst
  docs/tools/terraform/reference/cookbook/kafka-debezium-postgres-source.rst
Labels: terraform

#1844 vpc: add help article for creating VPC peering between Aiven and GCP with Terraform
  .github/vale/dicts/aiven.dic
  _toc.yml
  docs/tools/terraform/howto/vpc-peering-gcp.rst
Labels: terraform

#1884 Connect ext Kafka to Aiven Flink via Console
  docs/products/flink/howto/ext-kafka-flink-integration.rst
Labels: Flink

#1896 Content for PostgreSQL CDC connector for Aiven Flink
  .github/vale/dicts/aiven.dic
  _toc.yml
  docs/products/flink/howto/pg-cdc-connector.rst
Labels: Flink

#1895 updating tech email help article with additional info
  docs/platform/howto/technical-emails.rst
Labels: Platform

#1900 Added a note about forking OS service with SSO configured
  docs/platform/concepts/service-forking.rst
  docs/products/opensearch/howto/saml-sso-authentication.rst
Labels: OpenSearch

#1903 Add some pointers to the Vale readme file from the CONTRIBUTING file
  CONTRIBUTING.rst
Labels: maintenance

#1853 SUP-553: Updating datasource integration
  docs/products/postgresql/howto/datasource-integration.rst
Labels: PostgreSQL

#1906 updating eol doc with additional information
  docs/platform/reference/eol-for-major-versions.rst
Labels: Platform

#1883 adding instructions on how to fetch query stats
  _toc.yml
  docs/products/clickhouse/howto.rst
  docs/products/clickhouse/howto/fetch-query-statistics.rst
Labels: ClickHouse

#1908 platform: align the GCP cloud region names to the original names used by Google
  docs/products/clickhouse/howto/fetch-query-statistics.rst
  docs/products/clickhouse/howto/list-manage-service.rst
  includes/clouds-list.rst
Labels: Platform

#1911 clickhouse: update the instruction for integrating ClickHouse with PostgreSQL based on UI changes
  docs/products/clickhouse/howto/data-service-integration.rst
  docs/products/clickhouse/howto/integrate-kafka.rst
  docs/products/clickhouse/howto/integrate-postgresql.rst
Labels: ClickHouse

#1904 Update wording to match the web console
  docs/products/postgresql/howto/visualize-grafana.rst
Labels: PostgreSQL, Grafana

#1921 Update table for OS EOL to display text in a better way
  docs/platform/reference/eol-for-major-versions.rst
Labels: OpenSearch

#1922 mysql: update screenshots for the migration flow based on recent UI changes
  docs/products/clickhouse/howto.rst
  docs/products/clickhouse/howto/list-integrations.rst
  docs/products/mysql/howto/migrate-db-to-aiven-via-console.rst
  images/products/mysql/connect-source-mysql.png
  images/products/mysql/migration-completed-mysql.png
  images/products/mysql/migration-in-progress-mysql.png
  images/products/mysql/ready-to-migrate-mysql.png
  images/products/mysql/start-migration-mysql.png
Labels: MySQL

#1915 Update instructions for managing payment cards
  docs/platform/howto/manage-payment-card.rst
Labels: pre-release, Platform - Billing

#1916 Link to billing group article to change billing contact
  docs/platform/howto/change-billing-contact.rst
  images/platform/billing/billing_assign_card.png
  images/platform/billing/billing_user_information.png
Labels: pre-release, Platform - Billing

#1925 Updated maintenance-window & service-power-cycle to include that
  docs/platform/concepts/maintenance-window.rst
  docs/platform/concepts/service-power-cycle.rst
Labels: Platform

#1907 platform: updates for the BYOC marketing launch
  .github/vale/dicts/aiven.dic
  .github/vale/styles/Aiven/capitalization_headings.yml
  _redirects
  _toc.yml
  docs/platform/concepts.rst
  docs/platform/concepts/aiven-node-firewall-configuration.rst
  docs/platform/concepts/byoc.rst
  docs/platform/concepts/enhanced-compliance-env.rst
  docs/products/grafana/concepts/grafana-features.rst
  docs/products/kafka/howto/kafka-custom-serde-encrypt.rst
  docs/products/redis/concepts/overview.rst
  images/platform/byoc-ipsec-ingress-direct.png
  images/platform/byoc-ipsec-ingress.png
  images/platform/byoc-standard.png
Labels: Platform, pre-release

#1929 Added beta tag to sub landing page
  _toc.yml
  docs/products/opensearch/howto/list-opensearch-security.rst
Labels: OpenSearch
