Repository aiven/devportal, pull requests merged in 2023-10, with the labels that each got.

#2163 platform: how to establish peering connection between Aiven and UpCloud
  .github/vale/dicts/aiven.dic
  .github/vale/styles/Aiven/capitalization_headings.yml
  _toc.yml
  docs/platform/howto/vpc-peering-upcloud.rst
Labels: Platform - Networking

#2170 clickhouse: add supported table functions and file formats
  _toc.yml
  docs/products/clickhouse/reference.rst
  docs/products/clickhouse/reference/s3-supported-file-formats.rst
  docs/products/clickhouse/reference/supported-table-functions.rst
Labels: ClickHouse

#2139 Removed the Upgrade to OpenSearch topic
  _redirects
  _toc.yml
  docs/products/opensearch/concepts/opensearch-vs-elasticsearch.rst
  docs/products/opensearch/howto/list-upgrade.rst
  docs/products/opensearch/howto/upgrade-clients-to-opensearch.rst
  docs/products/opensearch/howto/upgrade-to-opensearch.rst
Labels: OpenSearch

#2191 Update Redis docs for high availability and backup features
  docs/products/redis/concepts/high-availability-redis.rst
Labels: Redis

#2190 Remove outdated note about payment cards
  docs/platform/howto/use-billing-groups.rst
Labels: Platform - Billing

#2169 Add information on role required to access billing information
  docs/platform/concepts/billing-groups.rst
  docs/platform/concepts/hourly-billing-model.rst
  docs/platform/howto/manage-payment-card.rst
Labels: Platform - Billing

#2165 Update instructions for managing projects
  docs/platform/howto/manage-project.rst
Labels: Platform

#2189 Content for consumer lag predictor for Aiven for Apache Kafka
  _toc.yml
  docs/products/kafka/concepts/consumer-lag-predictor.rst
  docs/products/kafka/howto/enabled-consumer-lag-predictor.rst
Labels: Kafka

#2193 fix formatting and improved config examples for MM2 tuning
  docs/products/kafka/kafka-mirrormaker/concepts/mirrormaker2-tuning.rst
Labels: Kafka

#2136 Update Terraform category page and get started
  docs/tools.rst
  docs/tools/terraform.rst
  docs/tools/terraform/get-started.rst
  docs/tools/terraform/reference.rst
Labels: Terraform

#2200 Align tax status article with style guide
  docs/platform/howto/update-tax-status.rst
Labels: Platform - Billing

#2199 Style guide alignment: Edit user profile article
  docs/platform/howto/edit-user-profile.rst
Labels: Platform
