Repository aiven/devportal, pull requests merged in 2023-03, with the labels that each got.

#1796 cassandra: update CCR docs - ToC and cross references
  _toc.yml
  docs/products/cassandra/concepts/cross-cluster-replication.rst
  docs/products/cassandra/howto/disable-cross-cluster-replication.rst
  docs/products/cassandra/howto/enable-cross-cluster-replication.rst
  docs/products/cassandra/howto/list-cross-cluster-replication.rst
  docs/products/cassandra/howto/manage-cross-cluster-replication.rst
Labels: cassandra

#1778 Recreate Flink recipe after Flink API changes.
  docs/tools/terraform/reference/cookbook/kafka-flink-integration-recipe.rst
Labels: flink, terraform

#1777 mysql: how to migrate mysql database using the console
  _toc.yml
  docs/products/mysql/howto/do-check-service-migration.rst
  docs/products/mysql/howto/migrate-db-to-aiven-via-console.rst
  images/products/mysql/connect-source-mysql.png
  images/products/mysql/migration-completed-mysql.png
  images/products/mysql/migration-in-progress-mysql.png
  images/products/mysql/ready-to-migrate-mysql.png
  images/products/mysql/set-up-migration-mysql.png
  images/products/mysql/start-migration-mysql.png
Labels: mysql, pre-release

#1807 minor changes to features text
  docs/products/grafana/concepts/grafana-features.rst
  docs/products/grafana/get-started.rst
Labels: grafana

#1808 cassandra: restructure doc section
  _toc.yml
  docs/products/cassandra.rst
  docs/products/cassandra/concepts.rst
  docs/products/cassandra/get-started.rst
  docs/products/cassandra/howto.rst
  docs/products/cassandra/howto/list-code-samples.rst
  docs/products/cassandra/howto/list-manage-cluster.rst
  docs/products/cassandra/howto/list-manage-service.rst
  docs/products/cassandra/howto/setup.rst
  docs/products/cassandra/overview.rst
  docs/products/cassandra/reference.rst
  docs/products/clickhouse.rst
Labels: cassandra

#1812 SUP-445: Migrate/Update PgBouncer CPU Article
  _redirects
  _toc.yml
  docs/products/postgresql/reference/high-cpu-load-of-pgbouncer.rst
  docs/products/postgresql/troubleshooting.rst
  docs/products/postgresql/troubleshooting/troubleshooting-connection-pooling.rst
Labels: postgresql

#1811 SUP-446: PostgreSQL shared buffers
  docs/products/postgresql/concepts/pg-shared-buffers.rst
Labels: postgresql

#1814 1685 migrate aiven for mysql remote replica
  _toc.yml
  docs/products/mysql/howto/create-remote-replica.rst
  images/products/mysql/mysql-create-read-only-replica-choose-plan.png
  images/products/mysql/mysql-create-read-only-replica.png
Labels: mysql

#1815 added cluster management info and howto topic categorization
  _toc.yml
  docs/products/grafana/howto/list-manage-cluster.rst
  docs/products/grafana/howto/list-manage-dashboards.rst
  docs/products/grafana/howto/list-user-access.rst
  docs/products/grafana/howto/replace-expression-string.rst
  docs/products/grafana/howto/rotating-grafana-service-credentials.rst
Labels: grafana

#1813 Updated getting started and re-order topics
  _toc.yml
  docs/products/opensearch.rst
  docs/products/opensearch/concepts/service-overview.rst
  docs/products/opensearch/getting-started.rst
  docs/products/opensearch/howto.rst
  docs/products/opensearch/howto/list-connect-to-service.rst
  docs/products/opensearch/howto/list-data-management.rst
  docs/products/opensearch/howto/list-integrations.rst
  docs/products/opensearch/howto/list-manage-service.rst
  docs/products/opensearch/howto/list-search-service.rst
  docs/products/opensearch/howto/list-upgrade.rst
  docs/products/opensearch/list-overview.rst
  docs/products/opensearch/reference/plans-pricing.rst
Labels: opensearch

#1816 platform: add the beta label for azure private link doc
  docs/platform/howto/use-azure-privatelink.rst
Labels: Platform

#1817 platform: add the connection step for aws vpc peering
  docs/platform/howto/vpc-peering-aws.rst
Labels: Platform

#1825 Update auth instructions
  _toc.yml
  docs/platform/howto/add-authentication-method.rst
  docs/platform/howto/create_authentication_token.rst
  docs/platform/howto/disable-platform-authentication.rst
  docs/platform/howto/enable-aiven-password.rst
  docs/platform/howto/user-2fa.rst
  docs/tools/aiven-console.rst
Labels: Platform

#1822 update to Redis overview and re-order structure [DOC-255]
  _toc.yml
  docs/products/redis.rst
  docs/products/redis/concepts/lua-scripts-redis.rst
  docs/products/redis/concepts/memory-usage.rst
  docs/products/redis/concepts/overview.rst
  docs/products/redis/get-started.rst
  docs/products/redis/howto/list-code-samples.rst
Labels: redis

#1827 Removed link to Redis website
  docs/products/redis/concepts/overview.rst
Labels: redis

#1832 Remove instructions for adding followers to support tickets
  docs/platform/howto/project-support-center.rst
Labels: Platform

#1790 SSO with JumpCloud
  .github/vale/dicts/aiven.dic
  .github/vale/styles/Aiven/capitalization_headings.yml
  _toc.yml
  docs/platform/howto/saml/setup-saml-jumpcloud.rst
Labels: Platform

#1836 clickhouse: minor post-GA improvements
  .github/vale/dicts/aiven.dic
  _redirects
  _toc.yml
  docs/products/clickhouse/concepts/columnar-databases.rst
  docs/products/clickhouse/concepts/databases-and-tables.rst
  docs/products/clickhouse/concepts/indexing.rst
Labels: clickhouse

#1828 postgresql-mysql: update "read replica" terms to align to the new UX/UI
  _toc.yml
  docs/platform/concepts/service_backups.rst
  docs/products/mysql/concepts/mysql-replication.rst
  docs/products/mysql/howto/create-remote-replica.rst
  docs/products/postgresql/howto/create-read-replica.rst
  docs/products/postgresql/howto/optimize-pg-slow-queries.rst
  docs/products/postgresql/reference/list-of-advanced-params.rst
  docs/tools/terraform/howto/promote-to-master-pg-rr.rst
  docs/tools/terraform/reference/cookbook.rst
  docs/tools/terraform/reference/cookbook/multicloud-postgresql-recipe.rst
  docs/tools/terraform/reference/cookbook/postgres-clickhouse-integration-recipe.rst
  docs/tools/terraform/reference/cookbook/postgresql-custom-configs-recipe.rst
  docs/tools/terraform/reference/cookbook/postgresql-read-replica-recipe.rst
  images/products/mysql/create-replica.png
  images/products/mysql/mysql-create-read-only-replica.png
  images/products/postgresql/read-replica-create.png
  images/products/postgresql/read-replica-detail.png
  images/products/postgresql/replica-create.png
  images/products/postgresql/replica-details.png
Labels: postgresql, mysql, pre-release
