Repository aiven/devportal, pull requests merged in 2024-01, with the labels that each got.

#2408 clickhouse: update info on querying across shards to replace view with table
  docs/products/clickhouse/reference/limitations.rst
Labels: ClickHouse

#2356 [Planned for January] Update and consolidate support documentation
  .github/vale/dicts/aiven.dic
  _redirects
  _toc.yml
  docs/platform/concepts/service-level-agreement.rst
  docs/platform/howto/change-support-tier.rst
  docs/platform/howto/list-support.rst
  docs/platform/howto/project-support-center.rst
Labels: Platform, pre-release

#2296 platform: about service disk autoscaler and how to use it
  .github/vale/dicts/aiven.dic
  .github/vale/styles/Aiven/capitalization_headings.yml
  _toc.yml
  docs/platform/howto/disk-autoscaler.rst
  docs/tools/cli/service/integration.rst
Labels: Platform

#2412 Updated content to reflect the new service settings option
  docs/platform/howto/add-storage-space.rst
  docs/platform/howto/cleanup-powered-off-services.rst
  docs/platform/howto/create-service-integration.rst
  docs/platform/howto/migrate-services-cloud-region.rst
  docs/platform/howto/migrate-services-vpc.rst
  docs/platform/howto/scale-services.rst
  docs/platform/howto/tag-resources.rst
Labels: Platform

#2415 platform: fix meta descriptions for byoc docs
  docs/platform/concepts/byoc.rst
  docs/platform/howto/byoc/add-customer-info-custom-cloud.rst
  docs/platform/howto/byoc/assign-project-custom-cloud.rst
  docs/platform/howto/byoc/create-custom-cloud.rst
  docs/platform/howto/byoc/delete-custom-cloud.rst
  docs/platform/howto/byoc/enable-byoc.rst
  docs/platform/howto/byoc/rename-custom-cloud.rst
Labels: Platform - Networking

#2416 platform: byoc fix
  docs/platform/concepts/byoc.rst
Labels: Platform - Networking

#2386 Kafka datadog: clarify Kafka metrics vs Kafka consumer metrics
  docs/products/kafka/howto/datadog-customised-metrics.rst
Labels: Kafka

#2414 platform: add oracle cloud regions as LA feature
  includes/clouds-list.rst
Labels: Clouds & Regions

#2418 Configure Apache Kafka multi-node servic-Prometheus via Privatelink
  _redirects
  _toc.yml
  docs/platform/howto/integrations/prometheus-metrics.rst
  docs/products/kafka/howto/kafka-prometheus-privatelink.rst
Labels: Kafka, integrations

#2429 Update managed users and domains articles for GA release
  docs/platform/concepts/managed-users.rst
  docs/platform/howto/manage-domains.rst
Labels: pre-release, Platform - Access management

#2443 Added note about GEOADD command issue
  docs/products/kafka/kafka-connect/howto/redis-streamreactor-sink.rst
Labels: Kafka

#2361 Howto content Flink Custom JARs application
  _toc.yml
  docs/products/flink/howto/create-flink-applications.rst
  docs/products/flink/howto/create-jar-application.rst
  docs/products/flink/howto/create-sql-application.rst
  docs/products/flink/howto/list-flink-applications.rst
  docs/products/flink/howto/manage-flink-applications.rst
Labels: Flink

#2291 Custom JARs for Aiven for Apache Flink overview
  .github/vale/dicts/aiven.dic
  _toc.yml
  docs/products/flink/concepts/custom-jars.rst
  docs/products/flink/concepts/flink-applications.rst
Labels: Flink

#2446 Added cross links for Custom JARs content
  docs/products/flink/concepts/custom-jars.rst
  docs/products/flink/howto/create-jar-application.rst
Labels: Flink

#2450 Update SAML IdP articles
  .github/vale/dicts/aiven.dic
  .github/vale/styles/Aiven/capitalization_headings.yml
  _redirects
  _toc.yml
  docs/platform/howto/list-identity-providers.rst
  docs/platform/howto/list-saml.rst
  docs/platform/howto/saml/add-auth0-idp.rst
  docs/platform/howto/saml/add-azure-idp.rst
  docs/platform/howto/saml/add-fusionauth-idp.rst
  docs/platform/howto/saml/add-google-idp.rst
  docs/platform/howto/saml/add-identity-providers.rst
  docs/platform/howto/saml/add-jumpcloud-idp.rst
  docs/platform/howto/saml/add-okta-idp.rst
  docs/platform/howto/saml/add-onelogin-idp.rst
  docs/platform/howto/saml/saml-authentication.rst
  docs/platform/howto/saml/setup-saml-auth0.rst
  docs/platform/howto/saml/setup-saml-azure.rst
  docs/platform/howto/saml/setup-saml-fusionauth.rst
  docs/platform/howto/saml/setup-saml-google.rst
  docs/platform/howto/saml/setup-saml-jumpcloud.rst
  docs/platform/howto/saml/setup-saml-okta.rst
  docs/platform/howto/saml/setup-saml-onelogin.rst
  docs/platform/howto/set-authentication-policies.rst
  docs/tools/aiven-console.rst
Labels: Platform - Auth

#2424 Added info about SSL certificate renewal timelines
  docs/products/kafka/howto/renew-ssl-certs.rst
Labels: Kafka

#2284 doc,kafka: add troubleshooting consumer disconnection
  _toc.yml
  docs/products/kafka/troubleshooting.rst
  docs/products/kafka/troubleshooting/troubleshoot-consumer-disconnections.rst
Labels: Kafka

#2451 Updated with info to enable feature preview
  docs/products/kafka/concepts/kafka-tiered-storage.rst
  docs/products/kafka/concepts/tiered-storage-how-it-works.rst
  docs/products/kafka/howto/configure-topic-tiered-storage.rst
  docs/products/kafka/howto/enable-kafka-tiered-storage.rst
  docs/products/kafka/howto/kafka-tiered-storage-get-started.rst
  docs/products/kafka/howto/tiered-storage-overview-page.rst
Labels: Kafka

#2459 Added more info to the note for further clarity
  docs/products/kafka/concepts/kafka-tiered-storage.rst
  docs/products/kafka/concepts/tiered-storage-how-it-works.rst
  docs/products/kafka/howto/configure-topic-tiered-storage.rst
  docs/products/kafka/howto/enable-kafka-tiered-storage.rst
  docs/products/kafka/howto/kafka-tiered-storage-get-started.rst
  docs/products/kafka/howto/tiered-storage-overview-page.rst
Labels: Kafka

#2410 platfrom: byoc standard architecture update to show one vpc
  docs/platform/concepts/byoc.rst
  images/platform/byoc-one-vpc-arch.png
Labels: Platform - Networking

#2462 platform: add parameters for fork service cli command
  docs/platform/howto/console-fork-service.rst
Labels: CLI, Platform
